可用金额：
= @pay_totle
&nbsp;&nbsp;
提现中金额：-
= @cashing_totle
&nbsp;&nbsp;
提现总额：
= @cash_totle
%br
= link_to "提现","","data-href"=>new_cash_path, :class=>"btn btn-primary"

%br

%br
.tabbable#divProducts
  %ul{:id => "myTab", :class => "nav nav-tabs"}
    %li{:class => "active"}
      %a{:href => "#", "data-toggle" => "tab", :onclick => "cashesStateChange(#{current_user.userinfo_id})"} 取现纪录
  -#%li
  -#  %a{:href => "#", "data-toggle" => "tab", :onclick => "cashesStateChange(order)"} 完成订单状态
  .tab-content
    .tab-pane.in.active
      = render "list"