<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta charset="utf-8"/>

  <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">


  <!-- 新 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="../../css/bootstrap.min.css">

  <!-- 可选的Bootstrap主题文件（一般不用引入） -->
  <link rel="stylesheet" href="../../css/bootstrap-theme.min.css">

  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script src="../../js/jquery.min.js"></script>

  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="../../js/bootstrap.min.js"></script>
  <style type="text/css">
      .container {

          font-family: SimHei;
      }

      #head_title {
          font-size: 140%;
          font-weight: 200;
          color: #202020;
      }

      #head_source {
          margin: 5px -10px 15px -10px;
          color: #505050;
      }

      #source {

          font-size: 70%;
          text-align: justify;
      }

      #created_at {

          font-size: 70%;
          text-align: right;
      }

      #content {
          font-size: 120%;
          color: #505050;
          text-align: left;
      }

  </style>

  <script>
      function add_comment() {
          $.ajax({
              type: "POST",
              url: "/chateau_comments/add_comment",
              data: {
                  content: $("#textarea_content").val(),
                  user_id: $("#input_user_id").val(),
                  announcement_id: $("#input_announcement_id").val()
              },
              dataType: "json",
              success: function (data) {
                  alert(JSON.stringify(data));
                  location.reload();
              }
          });
      }
      ;

      function hit(a) {

          $.ajax({
              type: "POST",
              url: "/chateau_comments/hit",
              data: {
                  chateau_comment_id: $("#input_chateau_comment_id" + a).val()
              },
              dataType: "json",
              success: function (data) {
                  var hits = parseInt($("#input_chateau_comment_hits" + a).val()) + 1;
                  $("#p_hits" + a).html(hits + "");
                  $("#btn_hits" + a).attr("disabled", true);
              }
          });

      }
      ;


      function stow() {
          var customer_id = $("#customer_id").val();
          var announcement_id = $("#announcement_id").val();
          $.ajax({
              type: "POST",
              url: "/announcements/stow",
              data: {announcement_id: announcement_id, customer_id: customer_id},
              dataType: "json",
              success: function (data) {
                  var stows = parseInt($("#p_stows").text()) + 1;
                  $("#p_stows" + a).html(stows + "");
                  $("#btn_stow" + a).attr("disabled", true);
              }
          });

      }
      ;



      function announcement_hit() {
          var hits = parseInt($("#p_announcement_hits").text()) + 1;
          var announcement_id = $("#announcement_id").val();
          $.ajax({
              type: "POST",
              url: "/announcements/<%=@announcement.id.to_s%>/announcement_hit",
              data: {announcement_id: announcement_id},
              dataType: "json",
              success: function (data) {

              }
          });
          $("#support_image").attr("src","../../images/announcements/support_red.png");

          $("#p_announcement_hits").html(hits + "");
          $("#a_support_image").removeAttr("onclick");
      }
      ;

  </script>

</head>
<body class="container">


<div class="row" id="head_title">
  <div class="col-xs-12">
    <%= @announcement.title %>
  </div>
  <!--title-->
</div>
<!--head_title-->


<div class="row" id="head_source">

  <div class="col-xs-6" id="source">
    <% if @announcement.source.present? %>
        <%= @announcement.source %>
    <% else %>
        小达快讯
    <% end %></div>
  <div class="col-xs-6" id="created_at">
    <%= @announcement.created_at.to_s[5, 11] %>
  </div>

</div>


<div class="row" id="content">
  <div class="col-xs-12">
    <%= markdown @announcement.content %>
  </div>
  <!--content-->
</div>
<!--row_content-->




<div class="row" >
  <div class="col-xs-12" style="text-align: center;background-color: #87CEFA">
    <p>酒运达版权所有，转载请注明出处。</p>
  </div>
  <!--content-->
</div>
<!--row_content-->

<div class="row" >
  <div class="col-xs-12">
    <a id="a_support_image" onclick="announcement_hit();">
      <img src="../../images/announcements/support_gray.png" id="support_image" style="display:block;margin-left:auto;margin-right:auto;height: 30%;width: 30%;">
    </a>
    <div style="text-align: center">
    共有<p id="p_announcement_hits" style="display:inline;"><%=@announcement.hits%></p>次点赞</div>
  </div>
  <!--content-->
</div>
<!--row_content-->

</body>

</html>


