<!doctype html>
<html>


<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta charset="utf-8"/>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--<%= stylesheet_link_tag "application", :media => "all" %>-->

  <%= javascript_include_tag "application"%>
  <%= stylesheet_link_tag 'announcements' %>

  <script>
      function add_comment() {
          $.ajax({
              type: "POST",
              url: "/chateau_comments/add_comment",
              data: {
                  content: $("#textarea_content").val(),
                  user_id: $("#input_user_id").val(),
                  announcement_id: $("#input_announcement_id").val()
              },
              dataType: "json",
              success: function (data) {
                  alert(JSON.stringify(data));
                  location.reload();
              }
          });
      }
      ;

      function hit(a) {

          $.ajax({
              type: "POST",
              url: "/chateau_comments/hit",
              data: {
                  chateau_comment_id: $("#input_chateau_comment_id" + a).val()
              },
              dataType: "json",
              success: function (data) {
                  var hits = parseInt($("#input_chateau_comment_hits" + a).val()) + 1;
                  $("#p_hits" + a).html(hits + "");
                  $("#btn_hits" + a).attr("disabled", true);
              }
          });

      }
      ;



//      function stow() {
//          var customer_id = $("#customer_id").val();
//          var announcement_id= $("#announcement_id").val();
//          $.ajax({
//              type: "POST",
//              url: "/announcements/stow",
//              data: {announcement_id: announcement_id,customer_id:customer_id},
//              dataType: "json",
//              success: function (data) {
//                  var stows = parseInt($("#p_stows").text()) + 1;
//                  $("#p_stows" + a).html(stows + "");
//                  $("#btn_stow" + a).attr("disabled", true);
//              }
//          });
//
//      }
//      ;

  </script>

</head>
<body>

<div id="a_body">
  <div class="col-xs-12" id="a_top">
    <div id="a_title">
      <%= @announcement.title %>
    </div>
    <!--a_title结束-->
    <div id="h_footer">
      <div class="col-xs-6" id="a_source">
        <% if @announcement.source.present? %>
            <%= @announcement.source %>
        <% else %>
            来源：小达快讯
        <% end %>
      </div>

      <div class="col-xs-6" id="a_time"><%= @announcement.created_at.to_s[5,11] %></div>
    </div>
  </div>
  <!--a_top-->
  <div style = "height:10px; margin-top:-1px;clear: both;overflow:hidden;"> </div >
<div class="widget-body" id="announcement_content">
    <%= markdown @announcement.content %>
  </div>
  <!--announcement_content结束-->

  <% if @announcement.chateau_comments.present? %>
      <div class="row" id="announcement_comments">
        <div id="comment_title">
          评论列表(<%= @announcement.chateau_comments.count if @announcement.chateau_comments.present? %>)

          <!--<button class="btn_stow" id="btn_stows" onclick="stow()"></button>-->
          <!--<p id="p_stows"></p>-->
        </div>
        <div id="comment_list">
          <% if @announcement.chateau_comments.present? %>
              <%- @announcement.chateau_comments.each do |c| %>
                  <div class="" id="comment_body">
                    <div class="" id="c_left">
                      <div class="" id="u_avatar"><%= image_tag('avatar.png', :size => "120x120") %></div>
                      <!--u_avatar-->
                    </div>
                    <!--c_lift-->
                    <div class="" id="c_right">
                      <div class="" id="c_top">
                        <div class="" id="u_info">
                          <div class="" id="u_name">游泳全靠浪
                          </div>
                          <!--u_name-->
                          <div class="" id="c_time"><%= c.created_at.to_s[5, 11] %>
                          </div>
                          <!--c_time-->
                        </div>
                        <!--u_info-->
                        <div class="" id="c_op">
                          <div class="" id="op_hit">
                            <button class="btn_hits" id="btn_hits<%= c.id.to_s %>" onclick="hit('<%= c.id.to_s %>')">
                              <%= image_tag('avatar.png', :size => "40x40") %></button>
                            <p id="p_hits<%= c.id.to_s %>"><%= c.hits %></p></div>
                          <input id="input_chateau_comment_id<%= c.id.to_s %>" type="hidden" value="<%= c.id %>">
                          <input id="input_chateau_comment_hits<%= c.id.to_s %>" type="hidden" value="<%= c.hits.to_s %>">
                          <!--op_hit-->
                        </div>
                        <!--c_op-->
                      </div>
                      <!--c_top-->
                      <div class="" id="c_content"><%= c.content %></div>
                      <!--c_content-->
                    </div>
                    <!--c_right-->
                  </div>
                  <!--comment_body-->
              <% end %>
          <% end %>
        </div>
        <!--comment_list结束-->

      </div>
  <% end %>

</div>
<!--a_body结束-->




<!--<input id="customer_id" type="hidden" value="567d20a1e1382376bc000000">-->
<!--<input id="announcement_id" type="hidden" value="">-->
</body>

</html>


