<%- model_class = Announcement %>
<p id="notice"><%= notice %></p>
<div class="page-header">
  <div style="text_align:center; float: left">
    <h1><%= model_class.model_name.human %> </h1>
  </div>

  <div style="text_align:center; float: right">

    <form id="search-scope" class="form-inline" method="post" data-remote="true" action="/announcements" accept-charset="UTF-8">
      <div class="form-group">
        <label for="title">标题:</label>
        <input id="title" class="form-control">
      </div>
      <div class="form-group">
        <label for="status">状态:</label>
        <select id="status" class="form-control">
          <option value="" selected="selected">请选择</option>
          <option value="0">未审核</option>
          <option value="1">通过</option>
          <option value="-1">不通过</option>
        </select>
      </div>
      <a class="btn btn-primary btn-sm" href="javascript:search();">搜索</a>
    </form>

  </div>
</div>

<table class="table">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:title) %></th>
    <th><%= model_class.human_attribute_name(:source) %></th>
    <th><%= model_class.human_attribute_name(:status) %></th>
    <th>种类</th>
    <th><%= model_class.human_attribute_name(:read_num) %></th>
    <th><%= model_class.human_attribute_name(:is_top) %></th>
    <th><%= model_class.human_attribute_name(:created_at) %></th>
    <th></th>
    <th>操作</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @announcements.each do |announcement| %>
      <tr class="odd gradeX">
        <td><%= link_to announcement.title, announcement_app_show_path(announcement.id) %></td>
        <td><%= announcement.source %></td>
        <td id="statusstr">
          <% if announcement.status == 1 %>
              通过
          <% elsif announcement.status == 0 %>
              待审核
          <% else
               announcement.status == -1 %>
              不通过
          <% end %>
        </td>
        <td><%= announcement.announcement_category.name if announcement.announcement_category.present? %></td>
        <td><%= announcement.read_num %></td>
        <td><%= announcement.is_top %></td>
        <td><%= announcement.created_at.strftime('%Y-%m-%d %H:%M:%S').to_s %></td>
        <td><%= link_to '详细', '', 'data-href' => announcement_path(announcement), :class => 'btn btn-xs btn-primary' %></td>
        <td><%= link_to '编辑', "##{edit_announcement_path(announcement)}", 'data-href' => edit_announcement_path(announcement), :class => 'btn btn-xs btn-info' %></td>
        <% if announcement.status ==0 || announcement.status ==-1 %>
            <td><%= link_to '审核通过', '', 'data-href' => announcement_check_path(:announcement_id=>announcement.id), :class => 'btn btn-xs btn-pink' %></td>
        <% else %>
            <td><%= link_to '审核不通过', '', 'data-href' => announcement_check_out_path(:announcement_id=>announcement.id), :class => 'btn btn-xs btn-warning' %></td>
        <% end %>
        <td><%= link_to '删除', announcement, :remote => true, method: :delete, data: {confirm: 'Are you sure?'},
                        :class => 'btn btn-xs btn-danger' %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<div id="container">
  <div style="text_align:center; float: left">
    <%= link_to '增加单个', '', 'data-href' => new_announcement_path, :class => 'btn btn-primary' %>
  </div>
  <div style="text_align:center; float: right">
    <p>批量添加</p>
    <%= form_tag({action: :batch}, remote: true, multipart: true) do %>
        <p>1:请选择种类：</p>
        <%= select_tag(:announcement_category_id, options_for_select(AnnouncementCategory.all.map { |c| [c.name, c.id] }),
                       :class => 'chosen-container chosen-container-multi', :style => 'width:100px') %>
        <p>2:请选择正确格式的EXCEL文件：</p>
        <%= file_field_tag 'excel_data', accept: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel', id: 'excel_file' %>
        <%= submit_tag('提交') %>
    <% end %>
  </div>
</div>

<%= paginate @announcements %>





