<div class="row">
  <div class="col-xs-12">

    <div class="row">
      <div class="col-xs-12 col-sm-6
      "style="padding: 1% 2%;
              font-size: 140%;
              line-height: 160%;
              border-top: 1px solid #d6d6d6;">
        <%= markdown @announcement.content %>
      </div>

      <div class="col-xs-12 col-sm-6 widget-container-col ui-sortable">
        <div class="widget-box widget-color-blue light-border ui-sortable-handle">

          <div class="widget-header widget-header-large">
            <h4 class="widget-title bigger lighter">基本信息</h4>
          </div>


          <div class="widget-body">
            <div class="widget-main">
              标题：<%=  @announcement.title %>
              <br>
              类别：<%=  @announcement.announcement_category.name %>
              <br>
              是否置顶：<%=  @announcement.is_top_str %>
              <br>
              排序字段：<%=  @announcement.sequence %>
              <br>
              来源：<%=  @announcement.source %>
              <br>
              创建时间：<%=  @announcement.created_at.to_s %>
              <br>
              最后修改时间：<%=  @announcement.updated_at.to_s %>
              <br>
              上传人：<%=  @announcement.user.name if @announcement.user.present? %>
              <br>
              当前审核状态：<%=  @announcement.status_str %>
            </div>
          </div>
        </div>

        <div class="widget-box widget-color-blue light-border ui-sortable-handle">

          <div class="widget-header widget-header-large">
            <h4 class="widget-title bigger lighter">操作:</h4>
            当前状态：
            <%=@announcement.status_str%>
            最后修改时间：
            <%=  @announcement.updated_at.to_s %>
            <br>
          </div>


          <div class="widget-body">
            <div class="widget-main">
              <div class=""></div>
              <%= link_to '通过', '', 'data-href' => next_check_announcements_path(:announcement_id => @announcement.id, :status => @announcement.status), :class => 'btn btn-success btn-xs' %>
              |
              <%= link_to '驳回', '', 'data-href' => next_check_out_announcements_path(:announcement_id => @announcement.id, :status => @announcement.status), :class => 'btn btn-warning btn-xs' %>
              |
              <%= link_to '修改', '', 'data-href' => edit_announcement_path(@announcement), :class => 'btn btn-inverse btn-xs' %>
              |
              <%= link_to '删除', '', 'data-href' => next_delete_announcements_path(:announcement_id => @announcement.id, :status => @announcement.status), :class => 'btn btn-danger btn-xs' %>
              |
              <%= link_to '返回', '', 'data-href' => announcements_path("page" => cookies['current_page']), :class => 'btn btn-primary btn-xs' %>
            </div>
          </div>
        </div>


      </div>


    </div>
  </div>
</div>