= form_for @jxc_storage,remote:true do |f|
  - if @jxc_storage.errors.any?
    #error_explanation
      %h2= "#{pluralize(@jxc_storage.errors.count, "error")} prohibited this jxc_storage from being saved:"
      %ul
        - @jxc_storage.errors.full_messages.each do |msg|
          %li= msg

  %table{class: "table table-bordered table-hover"}
    %tr
      %td
        = f.label :storage_name
      %td
        %span.input-icon{style:'width:100%;'}
          = f.text_field :storage_name,:class=>'form-control',onblur:'generatePinyinCode("jxc_storage_storage_name","jxc_storage_spell_code")'
          %i.ace-icon.fa.fa-leaf.green
      %td
        = f.label :spell_code
      %td
        %span.input-icon{style:'width:100%;'}
          = f.text_field :spell_code,:class=>'form-control'
          %i.ace-icon.fa.fa-leaf.green
    %tr
      %td
        = f.button t('mongoid.attributes.jxc_storage.storage_type'),type:'button',class:'btn btn-white btn-success',onclick:'getStorageTypesInfo()'
      %td
        %span.input-icon{style:'width:100%;'}
          = f.text_field :storage_type,:class=>'form-control',readonly:true
          %i.ace-icon.fa.fa-leaf.green
      %td
        = f.button t('mongoid.attributes.jxc_storage.admin'),type:'button',class:'btn btn-white btn-success',onclick:'getStorageAdmin()'
      %td
        %span.input-icon{style:'width:100%;'}
          -#= f.text_field :admin,:class=>'form-control',readonly:true
          %input.form-control#jxc_storage_admin{value: @jxc_storage.admin.present? ? @jxc_storage.admin.name : '',readonly:true }
          = f.hidden_field :admin_id
          %i.ace-icon.fa.fa-leaf.green
    %tr
      %td
        = f.button t('mongoid.attributes.jxc_storage.userinfo'),type:'button',class:'btn btn-white btn-success',onclick:'getStorageUserinfo()'
      %td
        %span.input-icon{style:'width:100%;'}
          -#= f.text_field :admin,:class=>'form-control',readonly:true
          %input.form-control#jxc_storage_userinfo{value: @jxc_storage.userinfo.present? ? @jxc_storage.userinfo.shopname : '',readonly:true }
          = f.hidden_field :userinfo_id
          %i.ace-icon.fa.fa-leaf.green
      %td
        = f.button t('mongoid.attributes.jxc_storage.store'),type:'button',class:'btn btn-white btn-success',onclick:'getStorageStore()'
      %td
        %span.input-icon{style:'width:100%;'}
          -#= f.text_field :admin,:class=>'form-control',readonly:true
          %input.form-control#jxc_storage_store{value: @jxc_storage.store.present? ? @jxc_storage.store.name : '',readonly:true }
          = f.hidden_field :store_id
          %i.ace-icon.fa.fa-leaf.green
      -#%td
      -#  = f.label :admin_phone
      -#%td
      -#  %span.input-icon{style:'width:100%;'}
      -#    = f.text_field :admin_phone,:class=>'form-control'
      -#    %i.ace-icon.fa.fa-leaf.green
    %tr
      %td
        = f.label :address
      %td
        = f.text_field :address,:class=>'form-control'
      %td
        = f.label :telephone
      %td
        = f.text_field :telephone,:class=>'form-control'
    %tr
      %td
        = f.label :storage_code
      %td
        = f.text_field :storage_code,:class=>'form-control'
      %td
        = f.label :memo
      %td
        = f.text_area :memo,:class=>'form-control',:style => 'resize: vertical;'
    -#%tr
    -#  %td
    -#    = f.label :data_1
    -#  %td
    -#    = f.text_field :data_1,:class=>'form-control'
    -#  %td
    -#    = f.label :data_2
    -#  %td
    -#    = f.text_field :data_2,:class=>'form-control'
    -#%tr
    -#  %td
    -#    = f.label :data_3
    -#  %td
    -#    = f.text_field :data_3,:class=>'form-control'
    -#  %td
    -#    = f.label :data_4
    -#  %td
    -#    = f.text_field :data_4,:class=>'form-control'
  .actions
    = f.submit '保存',class:'btn btn-info',style:'display:'+(@operation == 'show' ? 'none':'inline' )+''
    &nbsp;&nbsp;&nbsp;
    %a{class:'btn','data-href'=>jxc_storages_path}
      %i{class:'ace-icon fa fa-return bigger-110'}返回

=render 'jxc_modal/jxc_common_modal'

:javascript

  //zTree默认设置
  var zTreeSetting = {
    async:{
      url:'',
      type:'get',
      enable:true
    },
    view: {
      dblClickExpand: false,
      showLine: true,
      selectedMulti: false
    },
    data: {
      key:{
        name:""
      },
      simpleData: {
        enable:true,
        idKey: "_id",
        pIdKey: "parent_id",
        rootPId: ""
      }
    },
    callback: {}
  };

  //选择仓库类别信息
  function getStorageTypesInfo(){
    //模态框样式
    $('.modal-title').text('选择仓库类别');
    $('.modal-dialog').removeClass('tree-table');
    $('#jxc-select-tree').removeClass('jxc-disappear-tree');
    $('#jxc-select-tree').removeClass('jxc-select-tree');
    $('#jxc-select-tree').addClass('jxc-tree');
    $('#jxc-select-table').removeClass('jxc-select-table');
    $('#jxc-select-table').addClass('jxc-disappear-table');
    $('#confirm-button').attr('data-type','storageType');

    //zTree设置
    zTreeSetting.async.url = '/jxc_common_info/getStorageTypesInfo';
    zTreeSetting.data.key.name = 'dic';

    $('#selectModal').modal('show');

    //初始化树
    initZTree(zTreeSetting);
  }


  //选择仓库所属运营商信息
  function getStorageUserinfo(){
    $('.modal-title').text('选择仓库所属运营商');
    $('.modal-dialog').removeClass('tree-table');
    $('#jxc-select-tree').addClass('jxc-disappear-tree');
    $('#jxc-select-table').removeClass('jxc-disappear-table');
    $('#jxc-select-table').removeClass('jxc-select-table');
    $('#confirm-button').attr('data-type','storageUserinfo');
    $('#searchParam').val('');

    $('#selectModal').modal('show');

    tableSetting = {
      title: '仓库运营商',
      url:'/jxc_common_info/getJxcStorageUserinfo',
      width:600,
      singleSelect:true,
      queryParams:{},
      columns:[[
        {title:'运营商名称',field:'shopname',width:'50%'},
        {title:'责任人',field:'name',width:'50%'}
      ]]
    };

    //初始化表格
    initDataGrid(tableSetting);
  }


  //选择仓库 所属门店信息
  function getStorageStore(){
    $('.modal-title').text('选择仓库所属门店');
    $('.modal-dialog').removeClass('tree-table');
    $('#jxc-select-tree').addClass('jxc-disappear-tree');
    $('#jxc-select-table').removeClass('jxc-disappear-table');
    $('#jxc-select-table').removeClass('jxc-select-table');
    $('#confirm-button').attr('data-type','storageStore');
    $('#searchParam').val('');

    $('#selectModal').modal('show');

    tableSetting = {
      title: '仓库所属门店',
      url:'/jxc_common_info/getJxcStorageStore',
      width:600,
      singleSelect:true,
      queryParams:{},
      columns:[[
        {title:'门店名称',field:'name',width:'50%'},
        {title:'责任人',field:'manager',width:'50%'}
      ]]
    };

    //初始化表格
    initDataGrid(tableSetting);
  }

  //选择仓库负责人信息
  function getStorageAdmin(){
    $('.modal-title').text('选择仓库负责人');
    $('.modal-dialog').removeClass('tree-table');
    $('#jxc-select-tree').addClass('jxc-disappear-tree');
    $('#jxc-select-table').removeClass('jxc-disappear-table');
    $('#jxc-select-table').removeClass('jxc-select-table');
    $('#confirm-button').attr('data-type','storageAdmin');
    $('#searchParam').val('');

    $('#selectModal').modal('show');

    //dataGrid设置
    tableSetting = {
      title: '职员信息',
      url:'/jxc_common_info/getUsersList',
      width:600,
      singleSelect:true,
      queryParams:{},
      columns:[[
        {title:'员工编号',field:'sid',width:'18%'},
        {title:'姓名',field:'name',width:'18%'},
        {title:'性别',field:'sex',width:'18%'},
        {title:'手机号码',field:'mobile',width:'18%'},
        {title:'Email',field:'email',width:'28%'}
      ]]
    };

    $('#selectModal').modal('show');

    //初始表
    initDataGrid(tableSetting);
  }

  function selectData(){
    var dataType = $('#confirm-button').attr('data-type');

    if(dataType == 'storageType'){
      if(zTree.getSelectedNodes().length > 0){
        var node = zTree.getSelectedNodes(zTree)[0];
        $('#jxc_storage_storage_type').val(node.dic);
      }else{
        alert('请单击选择仓库类型');
        return;
      }
    }else if(dataType == 'storageUserinfo'){
      var selectData = $('#dataTable').datagrid('getSelections');
      if(selectData.length == 0){
        alert('请选择数据');
      }else{
        $('#jxc_storage_userinfo').val(selectData[0].shopname);
        $('#jxc_storage_userinfo_id').val(selectData[0]._id);
      }
    }else if(dataType == 'storageStore'){
      var selectData = $('#dataTable').datagrid('getSelections');
      if(selectData.length == 0){
        alert('请选择数据');
      }else{
        $('#jxc_storage_store').val(selectData[0].name);
        $('#jxc_storage_store_id').val(selectData[0]._id);
      }
    }else if(dataType == 'storageAdmin'){
      var selectData = $('#dataTable').datagrid('getSelections');
      if(selectData.length == 0){
        alert('请选择数据');
      }else{
        $('#jxc_storage_admin').val(selectData[0].name);
        $('#jxc_storage_admin_id').val(selectData[0]._id);
      }
    }

    //模态框隐藏
    $('#selectModal').modal('hide');
  }

