%div{class:'page-header'}
  %h1
    =t("mongoid.models.jxc_storage")
    (总共
    = @jxc_storages.size
    条)
%div.btn-group.btn-corner{style:'padding-bottom:8px;'}
  %button.btn#addStorageType{type:'button','data-toggle':'modal','data-target':'#addDicModal',onclick:'addStorageType()'}
    添加仓库类别
%div{class:'row',style:'background-color:#EFF3F8;margin:0px;'}
  %div{class:'col-xs-6'}
    %div{class:'dataTables_info',id:'dynamic-table_info',role:'status',"aria-live"=>'polite',style:'padding-top:13px;'}
      = page_entries_info @jxc_storages
  %div{class:'col-xs-6'}
    %div{class:'dataTables_paginate paging_simple_numbers',id:'dynamic-table_paginate'}
      %ul{class:'pagination',style:'padding-top:5px;'}
        %li{class:'paginate_button previous disabled',id:'dynamic-table_previous',"aria-controls"=>'dynamic-table',"tabindex"=>'0'}
          = paginate @jxc_storages
.space.space-4
%table{class: "table table-striped table-bordered table-hover"}
  %thead
    %tr
      %th
        =t('mongoid.attributes.jxc_storage.storage_name')
      %th
        =t('mongoid.attributes.jxc_storage.spell_code')
      %th
        =t('mongoid.attributes.jxc_storage.storage_type')
      %th
        =t('mongoid.attributes.jxc_storage.admin')
      %th
        =t('mongoid.attributes.jxc_storage.address')
      %th
        =t('mongoid.attributes.jxc_storage.telephone')
      %th
        =t('mongoid.attributes.jxc_storage.memo')
      %th=t('helpers.actions')
      %th
      %th

  %tbody
    - @jxc_storages.each do |jxc_storage|
      %tr
        %td= jxc_storage.storage_name
        %td= jxc_storage.spell_code
        %td= jxc_storage.storage_type
        %td= jxc_storage.admin.present? ? jxc_storage.admin.name : ''
        %td= jxc_storage.address
        %td= jxc_storage.telephone
        %td= jxc_storage.memo
        %td= link_to t('helpers.links.show'),'','data-href':jxc_storage_path(jxc_storage),class:'btn btn-xs btn-info'
        %td= link_to t('helpers.links.edit'),'','data-href':edit_jxc_storage_path(jxc_storage),class:'btn btn-xs btn-warning'
        %td= link_to t('helpers.links.destroy'), jxc_storage_path(jxc_storage),:method => :delete,remote:true, :data => { :confirm => '您确定删除此条数据吗?' },class:'btn btn-xs btn-danger'

%br

= link_to t('helpers.links.new'),'','data-href':new_jxc_storage_path,:class => 'btn btn-primary'

= render 'jxc_modal/jxc_addDictionary_modal'

:javascript

  function addStorageType(){
    //模态框样式
    $('.modal-title').text('添加仓库类别');

    var storageTypeForm =  "<form id='storageType'>" +
                        "<table class='table table-bordered'>" +
                        "<tr><td><label>仓库类别</label></td><td><input type='text' name='jxc_dictionary[dic]' id='jxc_dictionary_dic' class='form-control' onblur='generatePinyinCode(\"jxc_dictionary_dic\",\"jxc_dictionary_pinyin_code\")'  > <input type='hidden' name='jxc_dictionary[dic_desc]' id='jxc_dictionary_dic_desc' value='storage_type' > </td></tr>" +
                        "<tr><td><label>拼音码</label></td><td><input type='text' name='jxc_dictionary[pinyin_code]' id='jxc_dictionary_pinyin_code' class='form-control' ></td></tr>" +
                        "</table>" +
                        "</form>";

    $('.modal-body').html(storageTypeForm);
  }

  function submit(){
    var jxc_dictionary = {};
    jxc_dictionary.dic = $('#jxc_dictionary_dic').val();
    jxc_dictionary.dic_desc = $('#jxc_dictionary_dic_desc').val();
    jxc_dictionary.pinyin_code = $('#jxc_dictionary_pinyin_code').val();
    $.post('/jxc_dictionaries',{jxc_dictionary});

    //模态框隐藏
    $('#addDicModal').modal('hide');
  }