= form_for @jxc_purchase_exchange_goods_bill do |f|
  - if @jxc_purchase_exchange_goods_bill.errors.any?
    #error_explanation
      %h2= "#{pluralize(@jxc_purchase_exchange_goods_bill.errors.count, "error")} prohibited this jxc_purchase_exchange_goods_bill from being saved:"
      %ul
        - @jxc_purchase_exchange_goods_bill.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
