%h1 活动列表查看

%table.table
  %thead
    %tr
      %th 分享人手机号
      %th 注册人手机号
      %th 当前状态
      -#%th
      -#%th
      -#%th

  %tbody
    - @share_integral_records.each do |share_integral_record|
      %tr
        %td= Customer.find(share_integral_record.shared_customer_id).mobile if share_integral_record.shared_customer_id.present?
        %td= Customer.find(share_integral_record.register_customer_id).mobile if share_integral_record.register_customer_id.present?
        %td= share_integral_record.is_confirm_str
        -#%td= link_to 'Show', share_integral_share_integral_record_path(params[:share_integral_id],share_integral_record.id)
        -#%td= link_to 'Edit', edit_share_integral_share_integral_record_path(params[:share_integral_id],share_integral_record.id)
        -#%td= link_to 'Destroy', share_integral_share_integral_record_path(params[:share_integral_id],share_integral_record.id), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to '返回活动列表','','data-href'=> share_integrals_path


= paginate @share_integral_records



:javascript
      //分页添加AJAX
    $(".pagination a").each(function(){

        var href = $(this).attr('href');
        if(undefined!=href && null!=href){
            $(this).attr('data-href',href);
            $(this).attr('data-url',href);
            $(this).attr('href',"#"+href);
        }
    });

