%div{class:'row',style:'background-color:#EFF3F8'}
%div{class:'col-xs-12'}
  %form#search-scope.form-inline{'method'=>'post','accept-charset'=>'UTF-8','action'=>stores_path,'data-remote'=>'true'}
    .form-group
      %label 配送员手机号:
      %input#mobile.form-control{'mobile'=>'名称'}
    %a.btn.btn-primary.btn-sm{'href'=>'javascript:delivery_users_search();'} 搜索

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th 真实姓名
      %th 手机号
      %th 创建时间
      %th op
  %tbody
    - @delivery_users.each do |delivery_user|
      %tr
        %td= delivery_user.real_name
        %td= delivery_user.mobile
        %td= delivery_user.created_at
        -if delivery_user.store_ids.include?(@store.id)
          %td
            = link_to '减少', store_reduce_delivery_user_path(:delivery_user_id=>delivery_user.id), :remote=>true, :method => :post,:class => 'btn btn-minier btn-danger'
        -else
          %td
            = link_to '增加',store_add_delivery_user_path(:delivery_user_id=>delivery_user.id), :remote=>true,:method => :post,:class => 'btn btn-minier btn-primary'
%br

%div{class:'row',style:'background-color:#EFF3F8'}
  %div{class:'col-xs-5'}
    = link_to '返回门店',"##{stores_path}",'data-href' =>stores_path,:class => 'btn btn-info'
  %div{class:'col-xs-7'}
    %div{class:'dataTables_paginate paging_simple_numbers',id:'dynamic-table_paginate'}
      %ul{class:'pagination',style:'padding-top:5px;'}
        %li{class:'paginate_button previous disabled',id:'dynamic-table_previous',"aria-controls"=>'dynamic-table',"tabindex"=>'0'}
          = paginate @delivery_users



:javascript
