%h1 活动列表

%table.table
  %thead
    %tr
      %th 标题
      %th 开始时间
      %th 结束时间
      %th 分享人获赠积分
      %th 注册人获赠积分
      %th 当前状态
      %th
      %th
      %th
      %th

  %tbody
    - @share_integrals.each do |share_integral|
      %tr
        %td= share_integral.title
        %td= share_integral.start_date.strftime('%Y-%m-%d %H:%M:%S').to_s if share_integral.start_date.present?
        %td= share_integral.end_date.strftime('%Y-%m-%d %H:%M:%S').to_s if share_integral.end_date.present?
        %td= share_integral.shared_give_integral
        %td= share_integral.register_give_integral
        %td= share_integral.status_str
        %td= link_to '详细','','data-href' => share_integral_path(share_integral)
        %td= link_to '编辑','','data-href' =>  edit_share_integral_path(share_integral)
        %td= link_to '删除',share_integral_path(share_integral), :remote=>true, :method => :delete, :data => { :confirm => 'Are you sure?' }
        %td= link_to '参与人员查看','','data-href' => share_integral_share_integral_records_path(share_integral.id)

%br

= link_to '新建活动','','data-href' => new_share_integral_path
