%p#notice= notice

%p
  %b 标题:
  = @share_integral.title
%p
  %b 开始时间:
  = @share_integral.start_date
%p
  %b 结束时间:
  = @share_integral.end_date
%p
  %b 分享者获赠积分:
  = @share_integral.shared_give_integral
%p
  %b 注册者获赠积分:
  = @share_integral.register_give_integral

= link_to '编辑','','data-href' => edit_share_integral_path(@share_integral),:class=> 'btn btn-success'
\|
= link_to '返回','','data-href' => share_integrals_path,:class=>'btn btn-xs btn-info'
