= form_for @userinfo_ask do |f|
  #error_explanation{"style"=>"display:none"}
    %ul

  .field
    = f.label :shopname
    = f.text_field :shopname
  .field
    = f.label :approver
    = f.text_field :approver
  .field
    = f.label :pdistance_state
    = f.text_field :pdistance_state
  .field
    = f.label :pdistance_ask
    = f.text_field :pdistance_ask
  .field
    = f.label :ask_date
    = f.text_field :ask_date
  .field
    = f.label :rqe_date
    = f.text_field :rqe_date
  .actions
    = f.submit 'Save'
