%table{:class => "table table-striped table-bordered table-hover", :id => "selectProductsTable"}
  %thead
    %tr
      %th= t(:thumbnail, scope: "mongoid.attributes.product")
      %th= t(:title, scope: "mongoid.attributes.product")
      %th= t(:price, scope: "mongoid.attributes.product")
      %th= t(:stock, scope: "mongoid.attributes.product")
      %th= t '.actions', :default => t("helpers.actions")
  %tbody
    - @products.each do |product|
      %tr{:class => "cls_#{product.id}"}
        %td
          %img.product-img{:src => "#{product.avatar_url}"}
        %td= product.title
        %td= format("%.2f", product.price).to_f
        %td= product.stock
        %td
          %button{:type => "button", :class => "btn btn-primary", :id => "#{product.id}_attend", :onclick => "toogleActivity('#{product.id}')"}选取
:javascript
  var scripts = [null, null]
    $('#selectProducts').ace_ajax('loadScripts', scripts, function() {
      $(document).ready(function() {
        $("#selectProductsTable").DataTable(dataTableParams)
      });
  });