%h1 配送员列表

.row#search-scope
  .col-xs-7
    .col-xs-1.no-padding-right
      %label{for:'mobile'} 手机号:
    .col-xs-2.no-padding-left
      %input#mobile.form-control{placeholder: '请输入手机号'}
    .col-xs-1.no-padding-right
      %label{for:'status'} 状态:
    .col-xs-2.no-padding-left
      %select#status.form-control
        %option{value:''} --请选择--
        %option{value:'1'} 通过
        %option{value:'0'} 待审核
        %option{value:'-1'} 不通过
    .col-xs-1
      %a.btn.btn-primary{href: 'javascript:search();'} 搜索

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th 手机号
      %th 真实名
      %th 状态
      %th
      %th
      %th

  %tbody
    - @delivery_users.each do |delivery_user|
      %tr
        %td= delivery_user.mobile
        %td= delivery_user.real_name
        %td
          - if delivery_user.status == 1
            通过
          - elsif delivery_user.status == 0
            待审核
          - else  delivery_user.status == -1
            不通过
        %td= link_to '详细', delivery_user , :class => 'btn btn-minier btn-yellow'
        %td= link_to '审核', delivery_user_path(delivery_user)+"/check",:class => 'btn btn-minier btn-primary'
        %td= link_to '删除', delivery_user, :method => :delete, :data => { :confirm => '配送员删除后不可恢复,确定删除吗?' },:class => 'btn btn-minier btn-danger'
%div.row
  %div.col-xs-6
    %div#dynamic-table_info.dataTables_info
      = page_entries_info @delivery_users, :entry_name => '配送员'
  %div.col-xs-6
    %div#dynamic-table_paginate.dataTables_info.dataTables_paginate.paging_simple_numbers
      = paginate @delivery_users

%br
