%p.text-uppercase
  %strong
    当前可转余额:
    \#{@pay_totle} (兑换比例1:100)&nbsp;&nbsp;&nbsp;
    %strong
      当前总积分:
      \#{@integrals_totle}<?p>
%br
= form_for @user_integral,remote: "true" do |f|
  = hidden_field_tag "user_integral[state]","1"
  = hidden_field_tag "user_integral[type]","3"

  = f.label "请输入转换的金额："
  = f.text_field :cash
  %button{:name => "subject", :type => "submit",:onclick => "$('#help_m').hide();", :class=>"btn btn-info"} 提交
  %span.middle#help_m
    请输入正确的金额
%br
.tabbable#divProducts
  %ul{:id => "myTab", :class => "nav nav-tabs"}
    %li{:class => "active", :onclick => "intagralStateChange(1)"}
      %a{:href => "#", "data-toggle" => "tab"}入账积分
    %li{:onclick => "intagralStateChange('zc')"}
      %a{:href => "#", "data-toggle" => "tab" }支出积分
  .tab-content
    .tab-pane.in.active
      = render 'list'


:javascript
  $(function () {
    $("#help_m").hide();
  });