<br/>
<table id="" class="table no-padding">
  <thead>
      <tr>
        <th>
          <div class="row">
            <div style="text-align: center" class="col-xs-3">
              商品
            </div>
            <div style="text-align: center" class="col-xs-1">
              单价
            </div>
            <div style="text-align: center" class="col-xs-2">
              地址
            </div>
            <div style="text-align: center" class="col-xs-2">
              下单时间
            </div>
            <div style="text-align: center" class="col-xs-2">
              状态
            </div>
            <div style="text-align: center" class="col-xs-2">
              实付金额
            </div>
          </div>
        </th>
      </tr>
  </thead>
</table>
<% def format_encryption(str) %>
    <%   return str[0,str.length / 2] + "*" * (str.length % 2 == 0 ? str.length / 2 : str.length / 2 + 1) %>
<% end %>
<% @orders.each do |order| %>
    <% workflow_state = order.workflow_state.to_sym %>
    <div class="widget-box">
      <div class="widget-header">
        <div class="row">
          <div class="col-xs-8">
            <h4>
              <span>订单号: <a href="<%= "##{order_path(order.id)}?tab=#{params[:workflow_state]}" %>" data-url="<%= order_path(order.id) %>"><%= order.orderno %></a> </span>
              <% if order['business_user'].present? %>
                  &nbsp;&nbsp;&nbsp;<span><%= "业务人员: #{order['business_user']}" %></span>
              <% end %>
            </h4>
          </div>

          <div class="col-xs-4" style="text-align: right">
            <div class="hidden-sm hidden-xs action-buttons">
              <h4>
                <% if :paid == workflow_state %>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-minier btn-warning" data-toggle="modal" data-target="#myModal" onclick="set_btn_order_id('<%=order.id%>');"><i class="ace-icon">接&nbsp;&nbsp;单</i></button>
                <% end %>
                <%= link_to '查看详情',
                            "##{order_path(order.id)}?tab=#{params[:workflow_state]}", 'data-url' => order_path(order.id),
                            :class => 'btn btn-minier btn-info' %>&nbsp;

              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="widget-body">
        <div class="widget-main no-padding">
          <div class="row">
            <div class="col-xs-4">
              <% order.ordergoods.each do |ordergood| %>
                  <div class="row">
                    <div style="text-align: center" class="col-xs-3">
                      <a href="#<%= product_path(ordergood.product_id) %>"><img class="img-responsive" src="<%= !ordergood.avatar_url.nil? ? RestConfig::IMG_SERVER + ordergood.avatar_url : '' %>" ></a>
                    </div>
                    <div class="col-xs-6">
                      <p><a href="#<%= product_path(ordergood.product_id) %>"><%= ordergood.title %></a></p>
                    </div>
                    <div style="text-align: center" class="col-xs-3">
                      <p><%= ordergood.price %></p>
                      <p><%= ordergood.quantity %>件</p>
                    </div>
                  </div>
              <% end %>
            </div>

            <div class="col-xs-2">
              <% if  :distribution == workflow_state%>
                  <p><%= order.address %></p>
              <% else %>
                  <p><%= order.address %></p>
              <% end %>
            </div>
            <div style="text-align: center" class="col-xs-2">
              <% time = order.created_at %>
              <p><%= time.strftime("%Y-%m-%d") %></p>
              <p><%= time.strftime("%H:%M:%S") %></p>
            </div>
            <div style="text-align: center" class="col-xs-2">
              <% if :generation == workflow_state %>
                  待付款
              <% elsif :paid == workflow_state %>
                  待接单
              <% elsif :distribution == workflow_state %>
                  配送中
              <% elsif :receive == workflow_state %>
                  配送完成
              <% elsif :cancelled == workflow_state %>
                  已取消
              <% elsif :completed == workflow_state %>
                  已完成
              <% end %>
            </div>
            <div style="text-align: center" class="col-xs-2">
              <p><%=number_to_currency(order.paycost,  :unit=>"￥")%></p>
              <% if 0 == order.paymode %>
                  <p><span style="color: #F60">(货到付款)</span></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br/>
<% end %>
<div class="form-actions" style="padding: 10px;">
  <div class="row">
    <div class="col-xs-6">
      <div class="dataTables_info" role="status" aria-live="polite">
        <%= page_entries_info @orders, :entry_name => '订单' %>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="dataTables_paginate paging_simple_numbers" id="dynamic-table_paginate">
        <ul class="pagination">
          <li class="paginate_button previous disabled" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_previous">
            <%= paginate @orders,:theme => 'ajax_pagination' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<% def format_encryption(str) %>
    <%   return str[0,str.length / 2] + "*" * (str.length % 2 == 0 ? str.length / 2 : str.length / 2 + 1) %>
<% end %>








