<script>
    var table = null;
    //初始化加载方法
    $(function () {

        //tab页添加监听
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            $('#workflow_state').val($(e.target).attr('name'));

            ajax_pagination(1);
        });

        $('#myTab a[name="<%= params[:workflow_state] %>"]').tab('show');

        $('#beginTime').datetimepicker({
            sideBySide: true,
            locale: "zh-cn",
            format: "YYYY-MM-DD HH:mm:ss"
        });

        $('#endTime').datetimepicker({
            sideBySide: true,
            locale: "zh-cn",
            format: "YYYY-MM-DD HH:mm:ss"
        });
    });


    //提交方法
    function ajax_pagination(page) {

        var workflow_state = $('#workflow_state').val();
        $("a[data-toggle='tab']").parent().removeClass("active");//移除tab页活动属性
        $("a[data-toggle='tab'][name='"+workflow_state+"']").parent().addClass("active");//添加tab页活动属性

        $.get('<%= orders_table_data_orders_path %>',
                {
                    orderno: $('#orderno').val(),
                    consignee: $('#consignee').val(),
                    telephone: $('#telephone').val(),
                    ordertype: $('#ordertype').val(),
                    workflow_state: $('#workflow_state').val(),
                    paymode: $('#paymode').val(),
                    beginTime: $('#beginTime').val(),
                    endTime: $('#endTime').val(),
                    page: page
                },
                function (data, status) {
                    if (status == 'success') {
                        $('#home').html(data);
                    } else {
                        console.log("获取订单列表数据错误，状态码为："+status);
                    }
                });
        order_state_count();
    }



    //提交方法
    function order_state_count() {
        $.get("<%= order_state_count_orders_path %>",
                function (data, status) {
                    if (status == 'success') {
                        $("#paid_count").html(data.order_paid_count);//待接单
                        $("#generation_count").html(data.order_generation_count);//待付款
                        $("#distribution_count").html(data.order_distribution_count);//配送中
                        $("#receive_count").html(data.order_receive_count);//配送完成
                    } else {
                        console.log("获取订单数量错误，状态码为："+status);
                    }
                });
    }


    function clear_form() {
        $(':input', '#search_form').not(':button, :submit, :reset, :hidden').val('');
        $('#workflow_state').val('all');
    }


    function take_order() {

        var data = $('#delivery_users_table').DataTable().row('.selected').data();
        $.ajax({
            type: "POST",
            url: "/api/v1/deliveryOrder/take_order",
            data: {
                token: data.authentication_token,
                order_id: $("#btn_order_id").val()
            },
            dataType: "json",
            success: function (data) {
                ajax_pagination(1);
                $('#myModal').modal('hide');
                alert(data.msg);

                //alert(JSON.stringify(data));
                //window.location.href = get_location_href_no_search()+"?workflow_state=paid&f="+get_rand_num();
            }
        });
    }
    ;


    function set_btn_order_id(order_id) {
        $("#btn_order_id").val(order_id);
    }
    ;


</script>

<div class="row" style="padding-left: 80px;padding-right: 80px">
  <div class="form-actions" style="padding: 25px;">
    <div class="form-horizontal">
      <form id="search_form">
        <div class="row">
          <div class="col-xs-2">
            <div style="text-align: right">
              <lable><h6>订单号码：</h6></lable>
            </div>
          </div>
          <div class="col-xs-2">
            <div>
              <p><input type="text" id="orderno" style="width:90%" class="input-sm" value="<%= params[:orderno] %>"></p>
            </div>
          </div>
          <div class="col-xs-2">
            <div style="text-align: right">
              <lable><h6>收货人：</h6></lable>
            </div>
          </div>
          <div class="col-xs-2">
            <div>
              <p><input type="text" id="consignee" style="width:90%" class="input-sm" value="<%= params[:consignee] %>">
              </p>
            </div>
          </div>
          <div class="col-xs-2">
            <div style="text-align: right">
              <lable><h6>联系方式：</h6></lable>
            </div>
          </div>
          <div class="col-xs-2">
            <div>
              <p><input type="text" id="telephone" style="width:90%" class="input-sm" value="<%= params[:telephone] %>">
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2">
            <div style="text-align: right">
              <lable><h6>订单类型：</h6></lable>
            </div>
          </div>
          <div class="col-xs-2">
            <div>
              <p>
                <select class="input-sm" style="width:90%" id="ordertype">
                  <option value="" selected>全部</option>
                  <option value="0"
                          <% if "0" == params[:ordertype] %> selected
                          <% end %>>线下订单
                  </option>
                  <option value="1"
                          <% if "1" == params[:ordertype] %> selected
                          <% end %>>线上订单
                  </option>
                </select>
              </p>
            </div>
          </div>
          <div class="col-xs-2">
            <div style="text-align: right">
              <lable><h6>订单状态：</h6></lable>
            </div>
          </div>
          <div class="col-xs-2">
            <div>
              <p>
                <select id="workflow_state" class="input-sm" style="width:90%">
                  <option value="all" selected>全部</option>
                  <option value="generation"
                          <% if "generation" == params[:workflow_state] %> selected
                          <% end %>>待付款
                  </option>
                  <option value="paid"
                          <% if "paid" == params[:workflow_state] %> selected
                          <% end %>>待接单
                  </option>
                  <option value="distribution"
                          <% if "distribution" == params[:workflow_state] %> selected
                          <% end %>>配送中
                  </option>
                  <option value="receive"
                          <% if "receive" == params[:workflow_state] %> selected
                          <% end %>>配送完成
                  </option>
                  <option value="cancelled"
                          <% if "cancelled" == params[:workflow_state] %> selected
                          <% end %>>已取消
                  </option>
                  <option value="completed"
                          <% if "completed" == params[:workflow_state] %> selected
                          <% end %>>已完成
                  </option>
                </select>
              </p>
            </div>
          </div>
          <div class="col-xs-2">
            <div style="text-align: right">
              <lable><h6>付款方式：</h6></lable>
            </div>
          </div>
          <div class="col-xs-2">
            <div>
              <p>
                <select class="input-sm" style="width:90%" id="paymode">
                  <option value="" selected>全部</option>
                  <option value="0"
                          <% if "0" == params[:paymode] %> selected
                          <% end %>>货到付款
                  </option>
                  <option value="1"
                          <% if "1" == params[:paymode] %> selected
                          <% end %>>支付宝
                  </option>
                  <option value="2"
                          <% if "2" == params[:paymode] %> selected
                          <% end %>>微信
                  </option>
                </select>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2">
            <div style="text-align: right">
              <lable><h6>下单时间：</h6></lable>
            </div>
          </div>
          <div class="col-xs-10">
            <div>
              <p>
                <input id="beginTime" type="datetime" class="input-sm" value="<%= params[:beginTime] %>">
                至
                <input id="endTime" type="datetime" class="input-sm" value="<%= params[:endTime] %>">
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2">

          </div>
          <div class="col-xs-10">
            <div>
              <p>
                <button type="button" class="btn btn-sm btn-primary" onclick="ajax_pagination(1);">筛选</button>
                &nbsp;
                &nbsp;
                <button type="button" class="btn btn-sm" onclick="clear_form();">重置</button>
              </p>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>

  <ul class="nav nav-tabs" id="myTab">
    <li class="">
      <a name="paid" data-toggle="tab" href="#home">
        待接单
        <span id="paid_count" class="badge badge-danger"></span>
      </a>
    </li>
    <li class="">
      <a name="generation" data-toggle="tab" href="#home">
        待付款
        <span id="generation_count" class="badge badge-danger"></span>
      </a>
    </li>
    <li class="">
      <a name="distribution" data-toggle="tab" href="#home">
        配送中
        <span id="distribution_count" class="badge badge-danger"></span>
      </a>
    </li>
    <li class="">
      <a name="receive" data-toggle="tab" href="#home">
        配送完成
        <span id="receive_count" class="badge badge-danger"></span>
      </a>
    </li>
    <li class="">
      <a name="cancelled" data-toggle="tab" href="#home">
        已取消
      </a>
    </li>
    <li class="">
      <a name="completed" data-toggle="tab" href="#home">
        已完成
      </a>
    </li>
    <li class="">
      <a name="all" data-toggle="tab" href="#home">
        <i id="all_count" class="green icon-home bigger-110"></i>
        全部
      </a>
    </li>
  </ul>

  <div id="tab_content" class="tab-content no-border no-padding">
    <div id="home" class="tab-pane  active">


    </div>
  </div>

</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">选择配送员</h4>
      </div>
      <div class="modal-body">
        <%= render 'delivery_users' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" onclick="take_order();">接单</button>
      </div>
    </div>
  </div>
</div>



<button type="hidden" id="btn_order_id" value="order_id"></button>

