<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dictionary.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @dictionary.desc %>
</p>

<p>
  <strong>Type:</strong>
  <%= @dictionary.type %>
</p>

<p>
  <strong>Subtype:</strong>
  <%= @dictionary.subtype %>
</p>

<%= link_to 'Edit', edit_dictionary_path(@dictionary) %> |
<%= link_to 'Back', dictionaries_path %>
