%h1 酒券列表

%table.table
  %thead
    %tr
      %th 标题
      %th 开始时间
      %th 结束时间
      %th 状态
      %th


  %tbody
    - @product_tickets.each do |product_ticket|
      %tr
        %td= product_ticket.title
        %td= product_ticket.start_date_str
        %td= product_ticket.end_date_str
        %td= product_ticket.status
        %td
          = link_to '详细',  '', 'data-href' =>product_ticket_path(product_ticket),class:'btn btn-xs btn-Inverse'
          - if product_ticket.status == 0
            = link_to '编辑',  '', 'data-href' =>edit_product_ticket_path(product_ticket),class:'btn btn-xs btn-info'
            %input{"type"=>"button",:class=>"btn btn-xs btn-pink",:value=>"发布",:onclick=>"publish('#{product_ticket.id}')"}
            = link_to '删除', product_ticket, :method => :delete, :remote=>true,:data => { :confirm => 'Are you sure?' },class:'btn btn-xs btn-danger'
            = link_to '会员管理',  '', 'data-href' =>product_ticket_product_ticket_customer_inits_path(product_ticket),class:'btn btn-xs btn-info'

%br

= link_to '新建酒券', '', 'data-href' => new_product_ticket_path,:class=>'btn btn-xs btn-primary'

:javascript

  function publish(product_ticket_id){

    var r = confirm("确认发布吗，发布后酒劵所有信息不可修改！");
    if (r!=true) return;

    $.ajax({
        type: "POST",
        url: "/product_tickets/"+product_ticket_id+"/build_card_bag",
        dataType: "json",
        success: function (data) {
            alert(JSON.stringify(data.message));
            location.hash = "#{product_tickets_path}?f="+get_rand_num();
        }
    });


  };




