%h1 联盟商列表
%br
%div{class:'row',style:'background-color:#EFF3F8'}
  %div{class:'col-xs-9'}
    = link_to '新建联盟商',"##{jyd_new_userinfos_path}",'data-href' =>jyd_new_userinfos_path,:class => 'btn btn-info'
  %div{class:'col-xs-3'}
    %form#search-scope.form-inline{'method'=>'post','accept-charset'=>'UTF-8','action'=>stores_path,'data-remote'=>'true'}
      .form-group
        %label{"for"=>"qrcode"} 公司名称:
        %input#name.form-control{'name'=>'名称'}
      %a.btn.btn-primary.btn-sm{'href'=>'javascript:search();'} 搜索
%table.table
  %thead
    %tr
      %th 公司名称
      %th 法人名称
      %th 法人手机号码
      %th 公司地址
      %th 公司状态
      %th
  %tbody
    - @userinfos.each do |userinfo|
      %tr
        %td= userinfo.shopname
        %td= userinfo.name
        %td= userinfo.pusher_phone
        %td= userinfo.address
        %td= userinfo.status_str
        %td
          = link_to '详细',"",'data-href' => '/userinfos/jyd_show/'+ userinfo.id,:class => 'btn btn-minier btn-info'
          = link_to '编辑',"",'data-href' => '/userinfos/jyd_edit/'+ userinfo.id,:class => 'btn btn-minier btn-primary'
          -if userinfo.status==0||userinfo.status==-1
            = link_to '启用', '/userinfos/jyd_check/'+ userinfo.id, :remote=>true, :method => :post,:class => 'btn btn-minier btn-primary'
          -else
            = link_to '停用','/userinfos/jyd_check_out/'+ userinfo.id, :remote=>true, :method => :post,:class => 'btn btn-minier btn-warning'
          -#= link_to '删除', 'userinfos/jyd_destroy/'+userinfo.id, :remote=>true, :method => :delete, :data => { :confirm => 'Are you sure?' },:class => 'btn btn-minier btn-danger'
= paginate @userinfos



:javascript


      //jquery 初始化函数
  $(function () {
    pagination_ajax();
  });


    //查询
  function search() {
    var name = $("#search-scope #name").val();
    var prefix_url = "?name=" + name;
    window.location.href = get_location_href_no_search() + prefix_url + "&f=" + get_rand_num();
  }