<%- model_class = Userinfo %>
<div id="user-profile-2" class="user-profile">
  <div class="tabbable">
    <ul class="nav nav-tabs padding-18">
      <li class="active">
        <a data-toggle="tab" href="#home" aria-expanded="true">
          <i class="green ace-icon fa fa-user bigger-120"></i>
          员工信息
        </a>
      </li>

      <li class="">
        <a data-toggle="tab" href="#family" aria-expanded="false">
          <i class="orange ace-icon fa fa-rss bigger-120"></i>
          家庭成员
        </a>
      </li>

      <li class="">
        <a data-toggle="tab" href="#work" aria-expanded="false">
          <i class="blue ace-icon fa fa-users bigger-120"></i>
          工作情况
        </a>
      </li>
      <li class="">
        <a data-toggle="tab" href="#education" aria-expanded="false">
          <i class="blue ace-icon fa fa-users bigger-120"></i>
          教育情况
        </a>
      </li>
      <li class="">
        <a data-toggle="tab" href="#pictures" aria-expanded="false">
          <i class="pink ace-icon fa fa-picture-o bigger-120"></i>
          证件照
        </a>
      </li>
    </ul>

    <div class="tab-content no-border padding-24">
      <div id="home" class="tab-pane active">
        <div class="row">
          <div class="col-xs-12 col-sm-3 center">
            <span class="profile-picture">
              <!--size:"170x189") -->
            </span>
            <%= "form" %>
           <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>上传员工照片</span>
                    <input type="file" name="staff[avatar]" multiple="">
                </span>
            <% "end" %>

            <script id="template-upload" type="text/x-tmpl">
        <div class="upload">
          {%=o.name%}
          <div class="progress"><div class="bar" style="width: 0%"></div></div>
        </div>
        </script>
            <div class="space space-4"></div>
          </div><!-- /.col -->
          <div class="col-xs-12 col-sm-9">
            <h4 class="blue">
              <span class="middle">  sdf</span>

              <span class="label label-purple arrowed-in-right">
                <i class="ace-icon fa fa-circle smaller-80 align-middle"></i>
                online
              </span>
            </h4>

            <div class="profile-user-info">
              <div class="profile-info-row">
                <div class="profile-info-name">sdf: </div>

                <div class="profile-info-value">
                  <span>sdf></span>
                </div>
              </div>
              <div class="profile-info-row">
                <div class="profile-info-name">sdf: </div>

                <div class="profile-info-value">
                  <span><%= "" %></span>
                </div>
              </div>

              <div class="profile-info-row">
                <div class="profile-info-name">sdfa:</div>

                <div class="profile-info-value">
                  <i class="fa fa-map-marker light-orange bigger-110"></i>
                  <span>sadf</span>
                </div>
              </div>
              <div class="profile-info-row">
                <div class="profile-info-name">saf: </div>

                <div class="profile-info-value">
                  <span><%= "sex" %></span>
                </div>
              </div>



            <div class="hr hr-8 dotted"></div>

            <div class="profile-user-info">
              <div class="profile-info-row">
                <div class="profile-info-name"> asfd </div>

                <div class="profile-info-value">
                  <a href="#" target="_blank">wer</a>
                </div>
              </div>
            </div>
          </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="space-20"></div>

        <div class="row">
          <div class="col-xs-12 col-sm-6" style="width: 95%">
            <div class="widget-box transparent">
              <div class="widget-header widget-header-small">
                <h4 class="widget-title smaller">




                  <%= link_to t('.back', :default => t("helpers.links.back")),
                              "", :class => 'btn btn-default'  %>
                  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                              "", :class => 'btn btn-default' %>

                </h4>
              </div>

              <div class="widget-body">
              </div>
            </div>
          </div>
        </div>
      </div><!-- /#home -->

      <div id="family" class="tab-pane">

      </div><!-- /#family -->


      <div id="work" class="tab-pane">

      </div><!-- /#work -->
      <div id="education" class="tab-pane">

      </div><!-- /#education -->

    </div>
  </div>
</div>




















<div>
<p id="notice"><%= notice %></p>
<p>
  <strong>营业者:</strong>
  <%= @userinfo.name%>
</p>

<p>
  <strong>地址:</strong>
  <%= @userinfo.address %>
</p>

<p>
  <strong>商店名称:</strong>

</p>
<p>
  <strong>当前积分:</strong>
  <%= @userinfo.integral %>分
</p>
<p>
  <strong>当前配送距离:</strong>
  <%= @userinfo.pdistance %>米
<% if @userinfo_ask.present?%>
  <%= form_for(@userinfo,html:{:class=>"ask_pd"}) do |f|%>
      <%= hidden_field_tag "set_pdistance","true" %>
      <%= hidden_field_tag "userinfo[shopname]","#{@userinfo.shopname}" %>
      <%= hidden_field_tag "userinfo[location_data]","#{@userinfo.location_data}" %>
      <%= hidden_field_tag "userinfo[pdistance]","#{@userinfo.pdistance}" %>
      <%= hidden_field_tag "userinfo[location]","#{@userinfo.location}"%>
      <% if @userinfo_ask.pdistance_state==0 %>
      <%= f.label "配送距离：", :class => 'control-label' %><%= radio_button_tag "userinfopd[pdistance]", 100 %>&nbsp;<%= label_tag "userinfopd[pdistance]", "100米" %>&nbsp;&nbsp;
      <%= radio_button_tag "userinfopd[pdistance]", 200 %>&nbsp;<%= label_tag "userinfopd[pdistance]", "200米" %>&nbsp;&nbsp;
      <%= radio_button_tag "userinfopd[pdistance]", 500 %>&nbsp;<%= label_tag "userinfopd[pdistance]", "500米" %><br>&nbsp;&nbsp;
      <%= f.submit "修改配送距离申请" %>
      <% end %>
  <% end %>
<% else %>
      <%= form_for(@userinfo,html:{:class=>"ask_pd"}) do |f|%>
          <%= hidden_field_tag "set_pdistance","true" %>
          <%= hidden_field_tag "userinfo[shopname]","#{@userinfo.shopname}" %>
          <%= hidden_field_tag "userinfo[location_data]","#{@userinfo.location_data}" %>
          <%= hidden_field_tag "userinfo[pdistance]","#{@userinfo.pdistance}" %>
          <%= hidden_field_tag "userinfo[location]","#{@userinfo.location}"%>
          <%= f.label "配送距离：", :class => 'control-label' %><%= radio_button_tag "userinfopd[pdistance]", 100 %>&nbsp;<%= label_tag "userinfopd[pdistance]", "100米" %>&nbsp;&nbsp;
          <%= radio_button_tag "userinfopd[pdistance]", 200 %>&nbsp;<%= label_tag "userinfopd[pdistance]", "200米" %>&nbsp;&nbsp;
          <%= radio_button_tag "userinfopd[pdistance]", 500 %>&nbsp;<%= label_tag "userinfopd[pdistance]", "500米" %><br>&nbsp;&nbsp;
          <%= f.submit "修改配送距离申请" %>
      <% end %>
<% end %>
</p>
<p>
  <strong>当前起送价格:</strong>
  <%= @userinfo.lowestprice %>元
</p>
<p>
  <strong>当前运费:</strong>
  <%= @userinfo.fright %>元
</p>
<p>
  <strong>营业开始时间:</strong>
  <%= @userinfo.start_business %>
</p>
<p>
  <strong>营业结束时间:</strong>
  <%= @userinfo.end_business %>
</p>


<% if @userinfo.busp.present? %>
    <span>营业执照</span>  <%= image_tag(@userinfo.busp.url, size: "300x160", alt: "Edit Entry") %>
<% end %>

  <% if @userinfo.footp.present? %>
      <strong>食品流通许可证:</strong>
  <%= image_tag(@userinfo.footp.url,size: "300x160", alt: "Edit Entry") %>
      <% end %>


  <% if @userinfo.healthp.present? %>
    <strong>卫生许可证:</strong>
      <%= image_tag(@userinfo.healthp.url,size: "300x160", alt: "Edit Entry") %>
  <% end %>

  <% if @userinfo.taxp.present? %>
      <strong>税务登记证T:</strong>
      <%= image_tag(@userinfo.taxp.url,size: "300x160", alt: "Edit Entry") %>
  <% end %>


  <% if @userinfo.orgp.present? %>
    <strong>组织机构代码证:</strong>
      <%= image_tag(@userinfo.orgp.url,size: "300x160", alt: "Edit Entry") %>
  <% end %>


  <% if @userinfo.idpf.present? %>
    <strong>身份真正面:</strong>
      <%= image_tag(@userinfo.idpf.url,size: "300x160", alt: "Edit Entry") %>
  <% end %>


  <% if @userinfo.idpb.present? %>
    <strong>身份证反面:</strong>
      <%= image_tag(@userinfo.idpb.url,size: "300x160", alt: "Edit Entry") %>
  <% end %>

   <br>


  <%= form_for @userinfo, :html => { :class => "form-horizontal user", multipart: true } do |f| %>
      <div class="control-group">
        <%= f.label "营业开始时间", :class => 'control-label' %>
        <div class="controls">
          <%=  f.text_field :start_business %>
        </div>
      </div>
          <script>
              $(function () {
                  $('#userinfo_start_business').datetimepicker({
                      sideBySide: true,
                      locale: "zh-cn",
                      format: "HH:mm",
                      showClose: true
                  });
              });
          </script>
      <div class="control-group">
        <%= f.label "营业结束时间", :class => 'control-label' %>
        <div class="controls">
          <%=  f.text_field :end_business  %>
        </div>
      </div>
    <script>
        $(function () {
            $('#userinfo_end_business').datetimepicker({
                sideBySide: true,
                locale: "zh-cn",
                format: "HH:mm",
                showClose: true
            });
        });
    </script>
    <div class="control-group">
      <%= f.label "日间配送时间", :class => 'control-label' %>
      <div class="controls">
        <%=  f.text_field :fright_time  %>
      </div>
    </div>
    <script>
        $(function () {
            $('#userinfo_fright_time').datetimepicker({
                sideBySide: true,
                locale: "zh-cn",
                format: "HH:mm",
                showClose: true,
            });
        });
    </script>
      <div class="control-group">
        <%= f.label "日间起送价", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :lowestprice %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label "日间运费", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :fright %>
        </div>
      </div>

    <div class="control-group">
      <%= f.label "夜间配送时间", :class => 'control-label' %>
      <div class="controls">
        <%=  f.text_field :night_time  %>
      </div>
    </div>
    <script>
        $(function () {
            $('#userinfo_night_time').datetimepicker({
                sideBySide: true,
                locale: "zh-cn",
                format: "HH:mm",
                showClose: true,
            });
        });
    </script>

    <div class="control-group">
      <%= f.label "夜间起送价", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :h_lowestprice %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "夜间运费", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :h_fright %>
      </div>
    </div>
    <br>

      <%= f.submit nil, :class => 'btn btn-primary' %>

  <% end %>
<%= javascript_include_tag "registjs/jquery.form" %>
<script>
    $(function(){
        $(".ask_pd").validate({
            submitHandler: function() {
                alert("申请成功，24小时返回信息");
                form.submit();
            }
        })
    })

</script>

</div>


