= form_for @jxc_dictionary,remote:true do |f|
  #error_explanation{"style"=>"display:none"}
    %ul

  %table{class: "table table-bordered table-hover"}
    %tr
      %td
        = f.label :dic
      %td
        %span.input-icon{style:'width:100%;'}
          = f.text_field :dic,:class=>'form-control',onblur:'generatePinyinCode("jxc_dictionary_dic","jxc_dictionary_pinyin_code")'
          %i.ace-icon.fa.fa-leaf.green
      %td
        = f.label :pinyin_code
      %td
        %span.input-icon{style:'width:100%;'}
          = f.text_field :pinyin_code,:class=>'form-control'
          %i.ace-icon.fa.fa-leaf.green
    %tr
      %td
        = f.label :dic_desc
      %td
        %span.input-icon{style:'width:100%;'}
          = f.text_field :dic_desc,:class=>'form-control'
          %i.ace-icon.fa.fa-leaf.green
      %td
        = f.label :sort
      %td
        = f.text_field :sort,:class=>'form-control'
  .actions
    = f.submit '保存',class:'btn btn-info'
    &nbsp;&nbsp;&nbsp;
    %a{class:'btn','data-href': jxc_dictionaries_path}
      %i{class:'ace-icon fa fa-return bigger-110'}返回
