%h1 Listing roles

%table.table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @roles.each do |role|
      %tr
        %td= role.name
        %td= link_to 'Show', '', 'data-href' =>role_path(role)
        %td= link_to 'Edit', '', 'data-href' =>edit_role_path(role)
        %td= link_to 'Destroy', role, :method => :delete, :remote =>true, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Role', '', 'data-href' =>new_role_path
