%div{class:'page-header'}
  %h1
    =t("mongoid.models.jxc_other_stock_out_bill")
    (总共
    = @jxc_other_stock_out_bills.size
    条)
%div.btn-group.btn-corner{style:'padding-bottom:8px;'}
  %button.btn#addStockOutType{type:'button','data-toggle':'modal','data-target':'#addDicModal',onclick:'addDictionary()'}
    添加出库类型
%div{class:'row',style:'background-color:#EFF3F8;margin:0px;'}
  %div{class:'col-xs-6'}
    %div{class:'dataTables_info',id:'dynamic-table_info',role:'status',"aria-live"=>'polite',style:'padding-top:13px;'}
      = page_entries_info @jxc_other_stock_out_bills
  %div{class:'col-xs-6'}
    %div{class:'dataTables_paginate paging_simple_numbers',id:'dynamic-table_paginate'}
      %ul{class:'pagination',style:'padding-top:5px;'}
        %li{class:'paginate_button previous disabled',id:'dynamic-table_previous',"aria-controls"=>'dynamic-table',"tabindex"=>'0'}
          = paginate @jxc_other_stock_out_bills
.space.space-4
%table{class: "table table-striped table-bordered table-hover"}
  %thead
    %tr
      %th=t('mongoid.attributes.jxc_other_stock_out_bill.bill_no')
      %th=t('mongoid.attributes.jxc_other_stock_out_bill.jxc_storage')
      %th=t('mongoid.attributes.jxc_other_stock_out_bill.stock_out_type')
      %th=t('mongoid.attributes.jxc_other_stock_out_bill.handler')
      %th=t('mongoid.attributes.jxc_other_stock_out_bill.stock_out_date')
      %th=t('mongoid.attributes.jxc_other_stock_out_bill.remark')
      %th=t('mongoid.attributes.jxc_other_stock_out_bill.bill_status')
      %th=t('helpers.actions')
      %th

  %tbody
    - @jxc_other_stock_out_bills.each do |jxc_other_stock_out_bill|
      %tr
        %td= jxc_other_stock_out_bill.bill_no
        %td= jxc_other_stock_out_bill.jxc_storage.storage_name if jxc_other_stock_out_bill.jxc_storage.present?
        %td= jxc_other_stock_out_bill.stock_out_type
        %td= jxc_other_stock_out_bill.handler[0].name if jxc_other_stock_out_bill.handler[0].present?
        %td= jxc_other_stock_out_bill.stock_out_date.strftime('%m/%d/%Y') unless jxc_other_stock_out_bill.stock_out_date.blank?
        %td= jxc_other_stock_out_bill.remark
        %td{style:'color:red;font-weight:bold;'}
          = jxc_other_stock_out_bill.bill_status == '0' ? '已创建' : (jxc_other_stock_out_bill.bill_status == '1' ? '已审核' : '已红冲')
        %td= link_to t('helpers.links.show'), '', 'data-href': jxc_other_stock_out_bill_path(jxc_other_stock_out_bill),class:'btn btn-xs btn-info'
        %td= link_to t('helpers.links.edit'), '','data-href': edit_jxc_other_stock_out_bill_path(jxc_other_stock_out_bill),class:'btn btn-xs btn-warning',disabled:jxc_other_stock_out_bill.bill_status == '0' ? false:true
        -#%td= link_to 'Destroy', jxc_other_stock_out_bill, :method => :delete, :data => { :confirm => 'Are you sure?' }
      %br

= link_to t("helpers.links.new"),'','data-href': new_jxc_other_stock_out_bill_path,:class => 'btn btn-primary'

= render 'jxc_modal/jxc_addDictionary_modal'

:javascript

  function addDictionary(){
    //模态框样式
    $('.modal-title').text('添加出库类型');

    var stockOutTypeForm =  "<form id='stockOutType'>" +
                        "<table class='table table-bordered'>" +
                        "<tr><td><label>出库类型</label></td><td><input type='text' name='jxc_dictionary[dic]' id='jxc_dictionary_dic' class='form-control' onblur='generatePinyinCode(\"jxc_dictionary_dic\",\"jxc_dictionary_pinyin_code\")' > <input type='hidden' name='jxc_dictionary[dic_desc]' id='jxc_dictionary_dic_desc' value='stock_out_type' > </td></tr>" +
                        "<tr><td><label>拼音码</label></td><td><input type='text' name='jxc_dictionary[pinyin_code]' id='jxc_dictionary_pinyin_code' class='form-control' ></td></tr>" +
                        "</table>" +
                        "</form>";

    $('.modal-body').html(stockOutTypeForm);
  }

  function submit(){
    var jxc_dictionary = {};
    jxc_dictionary.dic = $('#jxc_dictionary_dic').val();
    jxc_dictionary.dic_desc = $('#jxc_dictionary_dic_desc').val();
    jxc_dictionary.pinyin_code = $('#jxc_dictionary_pinyin_code').val();
    $.post('/jxc_dictionaries',{jxc_dictionary});

    //模态框隐藏
    $('#addDicModal').modal('hide');
  }