%div{class:'page-header'}
  %h1
    =t("mongoid.models.jxc_purchase_order")
    (总共
    = @jxc_purchase_orders.size
    条)
%div{class:'row',style:'background-color:#EFF3F8;margin:0px;'}
  %div{class:'col-xs-6'}
    %div{class:'dataTables_info',id:'dynamic-table_info',role:'status',"aria-live"=>'polite',style:'padding-top:13px;'}
      = page_entries_info @jxc_purchase_orders
  %div{class:'col-xs-6'}
    %div{class:'dataTables_paginate paging_simple_numbers',id:'dynamic-table_paginate'}
      %ul{class:'pagination',style:'padding-top:5px;'}
        %li{class:'paginate_button previous disabled',id:'dynamic-table_previous',"aria-controls"=>'dynamic-table',"tabindex"=>'0'}
          = paginate @jxc_purchase_orders
.space.space-4
%table{class: "table table-striped table-bordered table-hover"}
  %thead
    %tr
      %th=t("mongoid.attributes.jxc_purchase_order.order_no")
      %th=t("mongoid.attributes.jxc_purchase_order.customize_order_no")
      %th=t("mongoid.attributes.jxc_purchase_order.receive_goods_date")
      %th=t("mongoid.attributes.jxc_purchase_order.order_date")
      %th=t("mongoid.attributes.jxc_purchase_order.down_payment")
      %th=t("mongoid.attributes.jxc_purchase_order.remark")
      %th=t("mongoid.attributes.jxc_purchase_order.total_amount")
      %th=t("mongoid.attributes.jxc_purchase_order.discount")
      %th=t("mongoid.attributes.jxc_purchase_order.discount_amount")
      %th=t("mongoid.attributes.jxc_purchase_order.payable_amount")
      %th=t("mongoid.attributes.jxc_purchase_order.bill_status")
      %th=t('helpers.actions')
      %th

  %tbody
    - @jxc_purchase_orders.each do |jxc_purchase_order|
      %tr
        %td= jxc_purchase_order.order_no
        %td= jxc_purchase_order.customize_order_no
        %td= jxc_purchase_order.receive_goods_date.strftime('%m/%d/%Y') unless jxc_purchase_order.receive_goods_date.blank?
        %td= jxc_purchase_order.order_date.strftime('%m/%d/%Y') unless jxc_purchase_order.order_date.blank?
        %td= jxc_purchase_order.down_payment
        %td= jxc_purchase_order.remark
        %td= jxc_purchase_order.total_amount
        %td= jxc_purchase_order.discount
        %td= jxc_purchase_order.discount_amount
        %td= jxc_purchase_order.payable_amount
        %td{style:'color:red;font-weight:bold;'}
          = jxc_purchase_order.bill_status == '0' ? '已创建' : (jxc_purchase_order.bill_status == '1' ? '已审核' : '已红冲')
        %td= link_to t("helpers.links.show"), '','data-href':jxc_purchase_order_path(jxc_purchase_order),class:'btn btn-xs btn-info'
        %td= link_to t("helpers.links.edit"), '','data-href':edit_jxc_purchase_order_path(jxc_purchase_order),class:'btn btn-xs btn-warning',disabled:jxc_purchase_order.bill_status == '0' ? false:true
        -#%td= link_to t("helpers.links.destroy"), jxc_purchase_order,class:'btn btn-xs btn-danger', :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
= link_to t("helpers.links.new"), '','data-href': new_jxc_purchase_order_path, :class => 'btn btn-primary'
