<%= form_for [:admin, @user], :html => {:class => "form-horizontal user",:id => "user_form", multipart: true, remote: true} do |f| %>
    <!--#error_explanation{"style"=>"display:none"}-->
    <div id="error_explanation" style="display:none"><ul></ul></div>
    <input type="hidden" name="user[step]" value="3">
    <% if @user.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being
              saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>


    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'form-control' %>
      </div>
      <%= f.error_span(@user[:name]) %>
    </div>

    <div class="control-group">
      <%= f.label :mobile, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :mobile, :class => 'form-control' %>
      </div>

    </div>


    <div class="field">
      <%= f.label :email %><br/>
      <%= f.text_field :email, autofocus: true %>
    </div>

    <table width=700px>
      <tr>
        <dt><strong>权限:</strong></dt>
      </tr>
      <tr>
        <% @roles.each do |role| %>
            <td>
              <%= t(role.name) %> <%= check_box_tag "user[roles][]", role.name, @user.roles.include?(role) %>
            </td>
        <% end %>
      </tr>
    </table>


    <%= f.submit nil, :class => 'btn btn-primary' %>

    <%= link_to '返回用户列表','','data-href'=> admin_users_path,class:'btn btn-default'  %>
<% end %>
