<%- model_class = User -%>
<div class="page-header">
  <h1>用户列表</h1>
</div>

<div>
  <%= form_tag("", method: "post", remote: true, id: "search-scope.form-inline", onSubmit: "return search()") do %>
      <%= label_tag(:user_name, "用户姓名:") %>
      <%= text_field_tag 'user_name', nil, placeholder: '用户姓名' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= label_tag(:user_mobile, "用户手机号:") %>
      <%= text_field_tag 'user_mobile', nil, placeholder: '用户手机号' %>
      <%= submit_tag '搜索', class: 'btn btn-primary btn-sm' %>
  <% end %>
</div>

<table class="table table-striped table-bordered table-hover">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:name) %></th>
    <th><%= model_class.human_attribute_name(:mobile) %></th>
    <th><%= t '.actions', :default => t("helpers.actions") %></th>

  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.mobile %></td>

        <td>
          <%= link_to '查看', '', "data-href" => admin_user_path(user), class: 'btn btn-xs btn-info' %>
          <% if @current_user.has_role?(:admin) %>
              <a class="btn btn-xs btn-info" data-href="<%= edit_admin_user_path(user) %>">
                <i class="ace-icon fa fa-pencil bigger-130"></i>
              </a>
              <%= link_to '密码重置',
                          "javascript:reset_password('"+user.id+"')",
                          # "data-href" => admin_path(user),
                          :data => {:confirm => '你确定重置用户密码吗?'},
                          :class => 'btn btn-xs btn-danger' %>
              <a class="btn btn-xs btn-info" data-href="<%= stores_path(state: "manage_store", :u_id => user._id.to_s) %>">
                <i class="ace-icon fa fa-pencil bigger-130">门店管理</i>
              </a>
              <% if @current_user.id!=user.id %>
                  <%= link_to raw("<i class='ace-icon fa fa-trash-o bigger-130'></i>"),
                              admin_user_path(user),
                              :remote => true,
                              :method => :delete,
                              :data => {:confirm => '你确定删除该用户吗?'},
                              :class => 'btn btn-xs btn-danger' %>
              <% end %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="row">
  <div class="col-xs-6">
    <div class="dataTables_info" id="dynamic-table_info" role="status" aria-live="polite">
    </div>
  </div>
  <div class="col-xs-6">
    <div class="dataTables_paginate paging_simple_numbers" id="dynamic-table_paginate">
      <ul class="pagination">
        <li class="paginate_button previous disabled" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_previous">
          <%= paginate @users %>
        </li>
      </ul>
    </div>
  </div>
</div>

<% if @current_user.has_role?(:admin) %>
    <%= link_to '添加新用户', '', 'data-href' => new_admin_user_path,
                :class => 'btn btn-primary' %>
<% end %>


