<h1>修改用户登录密码</h1>
<%= form_tag("", method: "post",remote:true, onSubmit:"return checkPwd()") do %>
    <%= label_tag(:old_password, "旧密码:") %>
    <%= password_field_tag(:old_password) %><br>
    <%= label_tag(:new_password, "新密码:") %>
    <%= password_field_tag(:new_password) %><br>
    <%= label_tag(:confirm_password, "确认新密码:") %>
    <%= password_field_tag(:confirm_password) %><br>
    <%= submit_tag("提交修改") %>
<% end %>
