<!doctype html>
<html>
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>促销</title>
<%= stylesheet_link_tag "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<script type="text/javascript">
    function productDetails(id, platform)
    {
        if("android" == platform)
        {
            Android.productDetails(id);
        }
        else if("ios" == platform)
        {
            var url= "myapp:&func=productDetails&product_id=" + id;
            document.location = url;
        }
    }
    function addToShoppingCart(id, platform)
    {
        if("android" == platform)
        {
            Android.addToShoppingCart(id);
        }
        else if("ios" == platform)
        {
            var url= "myapp:&func=addToShoppingCart&product_id=" + id;
            document.location = url;
        }
    }
</script>
<style>
*{ margin:0px; padding:0px; font-family:"微软雅黑"}
.container{ padding:0px;}
a:hover{ text-decoration:none;}
/*banner*/
.container .banner img{ width:100% ;}
.container .banner{ position:relative; margin-bottom:10px;}
/*爆款专区*/
.container .main_cx{ padding:18px 0 4px;}
.container .main_cx .main_cx_con01{ padding:0px 4%;}
.container .main_cx .main_cx_con01 .main_cx_cx{ background-color:#fef9d9; padding-bottom:6px; margin-bottom:10px;} 
.container .main_cx .main_cx_con01 .main_cx_cx .main_cx_cximg{ width:36%; margin:0 auto; padding-bottom:8px;}
.container .main_cx .main_cx_con01 .main_cx_cx .main_cx_cximg img{ width:100%;}
.container .main_cx .main_cx_con01 .main_cx_cx .main_cx_con02{ padding:0px 4% 0px;}
.container .main_cx .main_cx_con01 .main_cx_cx .main_cx_con02 img{ width:100%;}
.container .main_cx .main_cx_con01 .main_cx_cx .main_cx_con03{ padding:0;}
.container .main_cx .main_cx_con01 .main_cx_cx .main_cx_con03 .main_cx_con04{font-size:110%; font-weight:bold; line-height:170%; color:#6d0105;}
.container .main_cx .main_cx_con01 .main_cx_cx .main_cx_con03 .main_cx_con05,.container .main_cx_con01 .main_cx_con03 .main_cx_con06 .main_cx_con08{font-size:70%; line-height:130%; color:#585858;}
.container .main_cx .main_cx_con01 .main_cx_cx .main_cx_con03 .main_cx_con06 .main_cx_con07{font-size:100%;  line-height:180%; color:#fe030c; font-weight:bold;}
.container .main_cx_con01 .main_cx_con03 .main_cx_con06 .main_cx_con08 span{ text-decoration:line-through;}
.container .main_cx .main_cx_con01 .main_cx_cx .main_cx_con03 .main_cx_con06 .main_cx_con09{ padding:6px 4% 0 0;}
.container .main_cx .main_cx_con01 .main_cx_cx .main_cx_con03 .main_cx_con06 .main_cx_con09 a{ padding:4px 0; width:100%; color:#FFF; display:block; font-size:100%; line-height:180%; background-color:#f93c43; border-radius:8px 8px; text-align:center; margin-bottom:6px; }
/*热卖区*/
.container .main_cx .main_cx_con .main_cx_ig{ margin-bottom:10px;}
.container .main_cx .main_cx_con .main_cx_ig img{ width:100%;}
.container .main_cx .con_dh{ padding:10px 3% 20px; overflow:hidden;}
.container .main_cx .con_dh .con_dh_img{padding:0 2.2%; margin-bottom:10px;}
.container .main_cx .con_dh .con_dh_img .con_dh_img01 .con_dh_image{ padding:16px 10%; }
.container .main_cx .con_dh .con_dh_img .con_dh_img01 .con_dh_image img{ width:100%;display:block;}
.container .main_cx .con_dh .con_dh_img .con_dh_img01 .con_dh_zi{ overflow:hidden; padding:4px 2%; border-bottom:1px dashed #585858; margin-bottom:10px;}
.container .main_cx .con_dh .con_dh_img .con_dh_img01 .con_dh_zi .con_dh_left .con_dh_left01{ color:#585858; font-weight:bold; text-align:center; font-size:95%; line-height:180%;}
.container .main_cx .con_dh .con_dh_img .con_dh_img01 .con_dh_zi .con_dh_left .con_dh_left02{ color:#f93c43;  text-align:center; font-size:100%; line-height:150%; font-weight:bold;}
.container .main_cx .con_dh .con_dh_img .con_dh_img01 .con_dh_zi .con_dh_left .con_dh_left04{ color:#a9a9a9; font-size:70%; font-weight:normal; text-decoration:line-through;}
.container .main_cx .con_dh .con_dh_img .con_dh_img01 .con_dh_liji{ background-color:#f93c43; border-radius:6px 6px; text-align:center; padding:4px 0;}
.container .main_cx .con_dh .con_dh_img .con_dh_img01 .con_dh_liji a{ display:block; letter-spacing:1px; width:100%; font-size:100%; line-height:150%; color:#FFF; font-weight:bold;}


</style>
</head>
<body>
    <div class="container">
        <div class="banner">
            <a href="#"><img src="/images/promotion/banner.png"></a>
        </div>   <!--banner-->
        <!--爆款专区-->
        <div class="main_cx">
        	<div class="main_cx_con01">
                <% @products.each do |product| %>
                    <div class="main_cx_cx">
                        <div class="main_cx_cximg">
                            <img src="/images/promotion/huodong_cx.png">
                        </div>
                        <div class=" col-xs-5 main_cx_con02">
                            <a href="javascript:void(0)" onclick="productDetails('<%= product.id %>','<%= @platform %>')"><img class="qg_con_img" src="<%= RestConfig::IMG_SERVER + product.avatar_url %>"/></a>
                        </div>
                        <div class="col-xs-7 main_cx_con03">
                            <div class="main_cx_con04"><%= product.title %></div>
                            <div class="main_cx_con05">500g</div>
                            <div class="main_cx_con06">
                                <span class="main_cx_con07">¥<%= product.panic_price %></span>
                                <span class="main_cx_con08">/原价：<span><%= product.price %>元</span></span>
                                <div class="col-xs-7 col-xs-offset-4 main_cx_con09"><a href="#" onclick="addToShoppingCart('<%= product.id %>','<%= @platform %>')">立即购买</a></div>
                            </div>  <!--main_cx_con06-->
                            
                        </div>  <!--main_cx_con03-->
                        
                        <div class="clearfix"></div>
                    </div>
                <% end %>
            </div>  <!-- main_cx_con01-->
        </div>   <!--main_cx-->
         <div class="main_cx">
        	<div class="main_cx_con">
                <div class="main_cx_img main_cx_ig">
                    <img src="/images/promotion/remai.png">
                </div>
            </div>   <!-- main_cx_con-->
            <div  class="con_dh">
            <!--one-->
            	<div class="col-xs-6 con_dh_img">
                    <div class="con_dh_img01">
                        <div class="con_dh_image"><img src="/images/promotion/hongjiu.png"></div>
                        <div class="con_dh_zi">
                            <div class=" con_dh_left">
                                <div class="con_dh_left01">RIO&nbsp;鸡尾酒</div>
                                <div class="con_dh_left02">
                                	<span class="con_dh_left03">¥1000.50</span>
                                    <span class="con_dh_left04">原价：1020.50</span>
                                </div>
                            </div>
                      
                        </div>   <!--con_dh_zi-->
                        <div class="col-xs-8 col-xs-offset-2 con_dh_liji">
                        	<a href="#">立即购买</a>
                        </div>
                    </div>   <!--con_dh_img01-->
                
            	</div>    <!--col-xs-6 con_dh_img--
            <!--two-->    
               <div class="col-xs-6 con_dh_img">
                    <div class="con_dh_img01">
                        <div class="con_dh_image"><img src="/images/promotion/hongjiu.png"></div>
                        <div class="con_dh_zi">
                            <div class=" con_dh_left">
                                <div class="con_dh_left01">RIO&nbsp;鸡尾酒</div>
                                <div class="con_dh_left02">
                                	 <span class="con_dh_left03">¥1020.50</span>
                                    <span class="con_dh_left04">原价：1320.50</span>
                                </div>
                            </div>
                      
                        </div>   <!--con_dh_zi-->
                        <div class="col-xs-8 col-xs-offset-2 con_dh_liji">
                        	<a href="#">立即购买</a>
                        </div>
                    </div>   <!--con_dh_img01-->
                
            	</div>    <!--col-xs-6 con_dh_img-->
             <!--three-->     
                <div class="col-xs-6 con_dh_img">
                    <div class="con_dh_img01">
                        <div class="con_dh_image"><img src="/images/promotion/hongjiu.png"></div>
                        <div class="con_dh_zi">
                            <div class=" con_dh_left">
                                <div class="con_dh_left01">RIO&nbsp;鸡尾酒</div>
                                <div class="con_dh_left02">
 									<span class="con_dh_left03">¥1000.50</span>
                                    <span class="con_dh_left04">原价：1020.50</span>                              
                                </div>
                            </div>
                        </div>   <!--con_dh_zi-->
                        <div class="col-xs-8 col-xs-offset-2 con_dh_liji">
                        	<a href="#">立即购买</a>
                        </div>
                    </div>   <!--con_dh_img01-->
                
            	</div>    <!--col-xs-6 con_dh_img-->
             <!--fourth-->   
                <div class="col-xs-6 con_dh_img">
                    <div class="con_dh_img01">
                        <div class="con_dh_image"><img src="/images/promotion/hongjiu.png"></div>
                        <div class="con_dh_zi">
                            <div class=" con_dh_left">
                                <div class="con_dh_left01">RIO&nbsp;鸡尾酒</div>
                                <div class="con_dh_left02">
                                    <span class="con_dh_left03">¥1000.50</span>
                                    <span class="con_dh_left04">原价：1020.50</span>
                                </div>
                            </div>
                      
                        </div>   <!--con_dh_zi-->
                        <div class="col-xs-8 col-xs-offset-2 con_dh_liji">
                        	<a href="#">立即购买</a>
                        </div>
                    </div>   <!--con_dh_img01-->
                
            	</div>    <!--col-xs-6 con_dh_img-->
                
            </div>  <!--con_dh-->
            
          </div>     <!--main_cx-->
       
    </div>   <!--container-->
</body>  
</html>
