%p#notice= notice

%p
  %b= t(:name, scope: "mongoid.attributes.FullReduction") + ":"
  = @full_reduction.name
%p
  %b= t(:start_time, scope: "mongoid.attributes.FullReduction") + ":"
  = @full_reduction.startTimeShow
%p
  %b= t(:end_time, scope: "mongoid.attributes.FullReduction") + ":"
  = @full_reduction.endTimeShow
- if '4' != @full_reduction.preferential_way
  %p
    %b= t(:quota, scope: "mongoid.attributes.FullReduction") + ":"
    = @full_reduction.quota
- if '1' == @full_reduction.preferential_way
  %p
    %b= t(:reduction, scope: "mongoid.attributes.FullReduction") + ":"
    = @full_reduction.reduction
- if '2' == @full_reduction.preferential_way
  %p
    %b= t(:integral, scope: "mongoid.attributes.FullReduction") + ":"
    = @full_reduction.integral
- if '4' == @full_reduction.preferential_way
  %p
    %b= t(:purchase_quantity, scope: "mongoid.attributes.FullReduction") + ":"
    = @full_reduction.purchase_quantity
%p
  %b= t(:aasm_state, scope: "mongoid.attributes.FullReduction") + ":"
  = @aasmState[@full_reduction.aasm_state.to_sym]
%p
  %b= t(:tag, scope: "mongoid.attributes.FullReduction") + ":"
  = @full_reduction.tag
- if '3' == @full_reduction.preferential_way
  %p
    %h4 优惠券
    %table{:class => "table table-striped table-bordered table-hover", :id => "couponSelectedTable"}
      %thead
        %tr
          %th= check_box_tag "selectAll"
          %th= t(:title, scope: "mongoid.attributes.Coupon")
          %th= t(:quantity, scope: "mongoid.attributes.Coupon")
          %th= t(:value, scope: "mongoid.attributes.Coupon")
          %th= t(:limit, scope: "mongoid.attributes.Coupon")
          %th= t(:start_time, scope: "mongoid.attributes.Coupon")
          %th= t(:end_time, scope: "mongoid.attributes.Coupon")
          %th= t(:order_amount, scope: "mongoid.attributes.Coupon")
          %th= t(:use_goods, scope: "mongoid.attributes.Coupon")
          %th= t(:buy_limit, scope: "mongoid.attributes.Coupon")
          %th= t(:gifts_quantity, scope: "mongoid.attributes.FullReduction")
      %tbody
        - @full_reduction.coupons.each do |coupon|
          %tr{:class => "cls_#{coupon.id}"}
            %td= check_box_tag "coupon_id", coupon.id
            %td= coupon.title
            %td= coupon.quantity
            %td= coupon.value
            %td= coupon.limit
            %td= coupon.start_time
            %td= coupon.end_time
            %td= "0" == coupon.order_amount_way ? "无限制" : coupon.order_amount
            %td= "0" == coupon.use_goods ? "全店能用" : "指定商品"
            %td= coupon.buy_limit ? "仅原价购买商品时可用" : "不限制"
            %td= label_tag "", @selectCouponHash[coupon.id.to_s]
- if '4' == @full_reduction.preferential_way || '5' == @full_reduction.preferential_way
  %p
    %h4 赠品
    %table{:class => "table table-striped table-bordered table-hover", :id => "giftTableProducts"}
      %thead
        %tr
          %th= check_box_tag "selectAll"
          %th= t(:thumbnail, scope: "mongoid.attributes.product")
          %th= t(:qrcode, scope: "mongoid.attributes.product")
          %th= t(:title, scope: "mongoid.attributes.product")
          %th= t(:purchasePrice, scope: "mongoid.attributes.product")
          %th= t(:price, scope: "mongoid.attributes.product")
          %th= t(:stock, scope: "mongoid.attributes.product")
          %th= t(:integral, scope: "mongoid.attributes.product")
          %th= t(:gifts_quantity, scope: "mongoid.attributes.FullReduction")
      %tbody
        - @full_reduction.gifts(current_user).each do |product|
          %tr
            %td= check_box_tag "product_id", product.id
            %td
              %img{:src => "#{product.avatar_url}"}
            %td= product.qrcode
            %td= product.title
            %td= format("%.2f", product.purchasePrice).to_f
            %td= format("%.2f", product.price).to_f
            %td= product.stock
            %td= product.integral
            %td= label_tag "", @giftSelectProductHash[product.id.to_s]
%p
  %h4 参与商品
  %table{:class => "table table-striped table-bordered table-hover", :id => "tableProducts"}
    %thead
      %tr
        %th= check_box_tag "selectAll"
        %th= t(:thumbnail, scope: "mongoid.attributes.product")
        %th= t(:qrcode, scope: "mongoid.attributes.product")
        %th= t(:title, scope: "mongoid.attributes.product")
        %th= t(:purchasePrice, scope: "mongoid.attributes.product")
        %th= t(:price, scope: "mongoid.attributes.product")
        %th= t(:stock, scope: "mongoid.attributes.product")
        %th= t(:integral, scope: "mongoid.attributes.product")
    %tbody
      - @full_reduction.participateProducts(current_user).each do |product|
        %tr
          %td= check_box_tag "product_id", product.id
          %td
            %img{:src => "#{product.avatar_url}"}
          %td= product.qrcode
          %td= product.title
          %td= format("%.2f", product.purchasePrice).to_f
          %td= format("%.2f", product.price).to_f
          %td= product.stock
          %td= product.integral
= link_to 'Edit', edit_full_reduction_path(@full_reduction)
\|
= link_to 'Back', "#{full_reductions_path}?preferential_way=#{@full_reduction.preferential_way}"
:javascript
  $(document).ready(function () {
    $("#tableProducts").DataTable(dataTableParams);
    $("#couponSelectedTable").DataTable(dataTableParams);
    $("#giftTableProducts").DataTable(dataTableParams);
  });