= form_for @import_bag_receiver,url:{action: @action},html: {class: "form-horizontal"} do |f|
  - if @import_bag_receiver.errors.any?
    #error_explanation
      %h2= "#{pluralize(@import_bag_receiver.errors.count, "error")} prohibited this import_bag_receiver from being saved:"
      %ul
        - @import_bag_receiver.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :receiver_mobile,'目标账号:',class: 'col-sm-2 control-label'
    .col-sm-8
      = f.number_field :receiver_mobile,class: 'form-control',placeholder:'目标账号'
  .form-group
    = f.label :memo,'备注:',class: 'col-sm-2 control-label'
    .col-sm-8
      = f.text_field :memo,class: 'form-control',placeholder:'备注'

  .form-group
    .col-sm-offset-2.col-sm-8
      = f.submit "保存",class: 'btn btn-default'
