!!!
%html
  %head
    %meta{:content => "width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no", :name => "viewport"}
      = javascript_include_tag "application"
      = stylesheet_link_tag 'chateaus'
      = stylesheet_link_tag 'application'
  %body
    .container
      -if @chateau.pictures.present?
        .row
          .col-xs-12
            #myCarousel.carousel.slide
              / 轮播（Carousel）指标
              %ol.carousel-indicators
                %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
                %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
                %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
              / 轮播（Carousel）项目
              .carousel-inner
                .item.active
                  %img{:alt => "First slide", :src => @chateau.pictures.to_a.first.pic.url,:style=>"width:100%"}
                -@chateau.pictures.to_a.drop(1).each do |p|
                  .item
                    %img{:alt => "First slide", :src => p.pic.url,:style=>"width:100%"}
              / 轮播（Carousel）导航
              %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"}
              %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"}
      .row
        .infos.col-xs-12{:style => "font-size:280%;"}
          %strong
            =@data['chateau'].name
          .dl-horizontal
            %dt
              酒庄主人:
            %dd
              =@data['chateau'].owner
            %dt
              所在产区:
            %dd
              =@data['chateau'].region.ancestors_and_self.map{|c|c.name}.drop(1) if @chateau.region.present?
            %dt
              详细地址:
            %dd
              =@data['chateau'].address
            %dt
              联系电话:
            %dd
              =@data['chateau'].phone
            %dt
              酒庄网址:
            %dd
              =@data['chateau'].urls
            - @data['mark'].each do |m|
              - m.each do |k,v|
                %dt
                  = k + ':'
                %dd
                  = v.to_s.strip

      .row
        #introduce.col-xs-12{:style => "font-size:280%;line-height:160%; color:#282828; border-top:5px solid #d6d6d6;"}
          = markdown  @data['introduce']
