%h1 酒庄轮播图管理
%table.table
  %thead
    %tr
      %th 酒庄名称
      %th 酒庄轮播图
      %th 删除图片
  %tbody
    - @data['turn_picture'].each do |picture|
      %tr
        %td= picture.chateau.name
        %td= image_tag(picture.pic,size: '320x240')
        %td= link_to '删除', '', 'data-href' =>chateau_turn_picture_reduce_path(:picture_id=>picture.id),:method => :delete, :data => { :confirm => 'Are you sure?' },:class => 'btn btn-minier btn-danger'
%br

  #container

    %div{:style => "text_align:center; float: left"}
      = form_for(:picture,:url => '/chateaus/'+@data['chateau'].id+'/turn_picture_add',remote:true) do |f|
        .field
          = f.label :图片类型
          = f.select :type, options_for_select([['轮播图', 1],['素材', 2]], 1)
        .field
          = f.label :增加本地轮播图
          = f.file_field 'pic'
        .actions
          = f.submit '保存',:class => 'btn btn-yellow'

    %div{:style => "text_align:center; float: right"}
      = form_tag('/chateaus/'+@data['chateau'].id+'/turn_picture_urls', remote:true, method: 'post') do
        .field
          = label_tag :图片类型
          = select_tag :type, options_for_select([['轮播图', 1],['素材', 2]], 1)
        .field
          = label_tag :增加网络轮播图
          = text_area_tag(:urls)
        .actions
          = submit_tag '保存',:class => 'btn btn-yellow'


= link_to '酒庄主页','', 'data-href' =>chateaus_path
