<%- model_class = Product -%>

<div class="row right">
  <div class="col-xs-1">
    <%= select_tag "mobile_category", options_from_collection_for_select(MobileCategory.where(userinfo:current_user.userinfo).order_by(:num => :desc), "id", "title"), include_blank: "所有分组" %>
  </div>
</div>

<div class="dataTables_wrapper form-inline no-footer">

  <table class="table table-hover" id="products" data-source="/products.json?state=<%= @state %>" >
    <thead>
    <tr>
      <th>商品</th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%= model_class.human_attribute_name(:stock) %></th>
      <th><%= model_class.human_attribute_name(:sale_count) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= model_class.human_attribute_name(:num) %></th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

</div>