%p#notice= notice

%p
  %b Name:
  = @announcement_category.name
%p
  %b Description:
  = @announcement_category.description

= link_to 'Edit', edit_announcement_category_path(@announcement_category)
\|
= link_to 'Back', announcement_categories_path
