= form_for @wine ,remote:true do |f|
  - if @wine.errors.any?
    #error_explanation
      %h2= "#{pluralize(@wine.errors.count, "error")} prohibited this wine from being saved:"
      %ul
        - @wine.errors.full_messages.each do |msg|
          %li= msg
  .col-xs-12
    %form.form-horizontal
      .form-group
        .field
          = f.label :name,:class=>'col-sm-2 control-label no-padding-right'
        .col-sm-9
          = f.text_field :name,:class=> 'col-xs-11 col-sm-5'
      .form-group
        .field
          = f.label :category,:class=>'col-sm-2 control-label no-padding-right'
        .col-sm-9
          = f.select :category, options_for_select([['红酒', 1], ['白酒', 2], ['啤酒', 3], ['洋酒', 4], ['黄酒', 5], ['养生酒', 6], ['预调酒', 7]],1),:class=> 'col-xs-10 col-sm-5'
      .form-group
        .field
          = f.label :description,:class=>'col-sm-2 control-label no-padding-right'
        .col-sm-9
          = f.text_field :description,:class=> 'col-xs-10 col-sm-5'
      .form-group
        .field
          = f.label :ad,:class=>'col-sm-2 control-label no-padding-right'
        .col-sm-9
          = f.text_field :ad,:class=> 'col-xs-10 col-sm-5'
      .form-group
        .field
          = f.label :price,:class=>'col-sm-2 control-label no-padding-right'
        .col-sm-9
          = f.select :category,  options_for_select([['100元以下', 1], ['200元', 2], ['201-300元', 3], ['301-500元', 4], ['501-1000元', 5], ['1001-3000元', 6], ['3001-5000元', 7],['5001-10000元', 8], ['10000元以上', 9]],1 ),:class=> 'col-xs-10 col-sm-5'
      .form-group
        .field
          = f.label :hits,:class=>'col-sm-2 control-label no-padding-right'
        .col-sm-9
          = f.number_field :hits,:class=> 'col-xs-10 col-sm-5'
      .form-group
        .field
          = f.label :sequence,:class=>'col-sm-2 control-label no-padding-right'
        .col-sm-9
          = f.number_field :sequence,:class=> 'col-xs-10 col-sm-5'

      .form-group
        .field
          = f.label :logo,:class=>'col-sm-2 control-label no-padding-right'
        .col-sm-9
          = f.file_field :logo,:class=> 'col-xs-10 col-sm-5'
      - if @wine.logo.present?
        .form-group
          .field
            = f.label :现有LOGO,:class=>'col-sm-2 control-label no-padding-right'
          .col-sm-9
            = image_tag(@wine.logo,size: '300x160')

      .form-group
        .field
          = f.label :介绍,:class=>'col-sm-2 control-label no-padding-right'
        .col-sm-9
          %textarea{:class => 'ckeditor',:cols => "24", :name => "introduce", :rows => "6"}

      .actions.col-sm-1.col-sm-offset-3
        = f.submit 'Save',:class=> 'btn btn-success'
      .actions.col-sm-8
        = link_to 'Back','', 'data-href' => wines_path,:class=> 'btn btn-info'



:javascript
  $('.ckeditor').ckeditor({
  // optional config
  });