%p#notice= notice

%p
  %b Name:
  = @wine.name
%p
  %b Category:
  = @wine.category
%p
  %b Description:
  = @wine.description
%p
  %b Price:
  = @wine.price
%p
  %b Hits:
  = @wine.hits
%p
  %b Sequence:
  = @wine.sequence
%p
  %b Status:
  = @wine.status

%p
  %b 介绍:
  = @wine.chateau_introduce.introduce

= link_to '编辑','', 'data-href' => edit_wine_path(@wine)
\|
= link_to '返回', '', 'data-href' =>wines_path



